body, h1, h2, h3, h4{
    font-family: 'Open Sans', sans-serif;
}
a:hover{
    text-decoration: none;
}
a:focus{
    outline: none;
}
.navbar-brand {
    background-image: url(../images/bridgeit-logo-4x.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 80px;
    background-size: 196px 76px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 18px;
}
.navbar-default .navbar-toggle:focus{
    outline: none;
}
.dropdown-menu > li > a {
    padding: 6px 20px;
    font-size: 16px;
}

.jumbotron {
    font-size: 14px;
    background-color: transparent;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(157,108,78,0.9);
}
.jumbotron .btn{
    color: rgb(99,92,77);
    border: 1px solid #AD8F42;
    padding: 4px 16px;
    margin-top: 32px;
    font-size:16px;
    background: #e2a74c; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2a74c 0%, #FDF64D 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2a74c), color-stop(100%,#fbc34a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2a74c 0%,#FDF64D 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2a74c 0%,#FDF64D 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2a74c 0%,#FDF64D 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2a74c 0%,#FDF64D 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a74c', endColorstr='#FDF64D',GradientType=0 ); /* IE6-9 */
    background-size:1px 65px;  
    -webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out;  
}
.jumbotron .btn:hover{
    color: #994300;
    background-position:100px;  
}
.jumbotron .btn i{
    padding: 6px 0px 6px 14px;
    display: inline-block;
    margin-left: 11px;
    border-left: 1px solid #635C4D;
    text-align: center;
}
.items{
    background-color: #FFF;
    margin-top: -40px;
}
.items .row{
    padding: 20px 0;
    background-image: url(../images/divider-dots.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
}
.items .row:last-child{
    background-image: none;
}
.items, .items h3{
    color: #8D8B8B;
    font-weight: lighter;
}
.items h3{
    margin-top: 0;
    margin-bottom: 20px;
}
.items p{
    font-size: 14px;
}
.items .more{
    color: #DD5734;
    font-size: 14px;
    float: right;
    font-weight: normal;
    margin-top: 15px;
}
.items .more:hover{
    color: #39B992;
}
.items .more em{
    font-style: italic;
}
.links{
    background-color: #DD5734;
    opacity: 0.9;
    font-weight: lighter;
    box-shadow: 0px 8px 10px #222;
}
.links, .links a{
    color: #FFF;
}
.links a:hover{
    color: #FFC484;
}
.links, .contact{
    font-size: 13px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 1.7em;
}
.links h4, .contact h4{
    font-size: 16px;
}
.contact{
    color: #11425A;
    font-weight: normal;
    background-color: rgb(215,215,215);
    opacity: 0.9;
}
.contact .row{
    margin: 5px 0 0 0;
}
.contact .anchors{
    text-align: right;
}
.contact .anchors a{
    margin: 0 10px;
    color: #1A658A;
}
.contact .anchors a:hover{
    color: #00ABFF;
}
@media screen and (max-width: 768px) {
    .visible-xs{
        display: inline-block !important;
    }
    .nav li{
        background-color: rgb(229,87,58);
    }
    .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .open > a:active,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
        color: #FFF;
    }
    .navbar-default .navbar-nav > li:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li:hover{
        background-color: rgb(145,35,12);
    }
    .navbar-nav {
        margin: 0 -15px 0 -15px;
     }
    .navbar-default .navbar-toggle{
         border-color: #1A9682;
         color: #1A9682;
         font-size: 25px;
         padding: 2px 8px;
     }
     .navbar-default .navbar-toggle .icon-bar{
         background-color: rgb(26,150,130);
     }
     .nav-icon{
        width: 40px;
     }
     .navbar-default .navbar-nav > .dropdown > a .caret,
     .navbar-default .navbar-nav > .dropdown > a:hover .caret,
     .navbar-default .navbar-nav > .dropdown > a:focus .caret{
        border-top-color: #FFF;
        border-bottom-color: #FFF;
        float: right;
        border-top: 10px solid #FFF;
        border-bottom: 10px solid rgba(0, 0, 0, 0);
        border-right: 0 dotted;
        border-left: 10px solid rgba(0, 0, 0, 0);
        margin-right: 20px;
        margin-top: 4px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
     }
     .dropdown-menu-summary{
        display: none;
     }
     .jumbotron {
        padding-top: 88px;
        padding-bottom: 0;
        text-align: left;
        margin-bottom: 0;
        background-image: url(../images/banner-background-diagonal-lines.png);
        background-size: 1920px 488px;
        background-repeat: no-repeat;
        background-position: 50% 80px;
    }
    .jumbotron .btn{
        padding: 2px 6px;
        margin-top: 12px;
    }
    .jumbotron .btn i {
        padding: 6px 4px 6px 7px;
        margin-left: 4px;
     }
    .jumbotron .container{
        margin-left: 0;
        text-align: right;
        min-height: 280px;
    }
    .jumbotron h1 {
        font-size: 34px;
        text-shadow: 0px -2px 5px rgba(85, 64, 52, 0.9);
    }
    .jumbotron .banner-image{
        width: 100%;
    }
    .jumbotron .banner{
        text-align: left;
    }
    .jumbotron img{
         width: 273px;
         margin-top: 20px;
         margin-left: -64px;
    }
    #carousel{ display: none; }
    .items{ padding-top: 25px; }
    .links div > a{ display: none; }
}
@media screen and (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
    /* submenu hover */
    ul.nav li.dropdown:hover > ul.dropdown-menu, ul.nav li.dropdown > a:focus ~ ul.dropdown-menu {
        display: block;
        width: 100%;
    }
    .dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
        background-color: inherit;
    }
    .nav>li.dropdown {
        position: static;
    }
    ul.dropdown-menu {
        text-align: center;
    }
    .open > .dropdown-menu {
        width: 100%;
    }
    ul.dropdown-menu>li {
        display: inline-block;
    }
    .navbar-default .navbar-nav>.dropdown>a .caret {
        display: none;
        margin-left: 2px;
        vertical-align: middle;
        border-right: 15px solid rgba(0, 0, 0, 0);
        border-top: 0 dotted;
        border-left: 15px solid rgba(0, 0, 0, 0);
    }
    .navbar-default .navbar-nav>.dropdown>a:hover .caret,
    .navbar-default .navbar-nav>.dropdown>a:focus .caret{
        border-bottom: 15px solid #DD5734;
        bottom: -1px;
        position: absolute;
        z-index: 10000;
        display: inline-block;
        left: 32%;
    }
    .dropdown-menu {
        background-color: #DD5734;
    }
    .dropdown-menu>li>a {
        color: #FFF;
    }
    .dropdown-menu-summary {
        border-left: 1px solid #FFF;
        font-size: 9px;
        color: #FFF;
        padding: 1px 10px;
        line-height: 12px;
        max-width: 300px;
        text-align: left;
        vertical-align: middle;
    }
    .jumbotron {
        padding-top: 120px;
        padding-bottom: 0;
        text-align: left;
        margin-bottom: 0;
        background-image: url(../images/banner-background-diagonal-lines.png);
        background-size: 1920px 488px;
        background-repeat: no-repeat;
        background-position: 50% 80px;
    }
    .jumbotron .container{
        margin-left: 0;
        text-align: right;
        min-height: 280px;
    }
    .jumbotron h1 {
        font-size: 40px;
        text-shadow: 0px -2px 5px rgba(85, 64, 52, 0.9);
    }
    .jumbotron .banner-image{
        width: 100%;
    }
    .jumbotron .banner{
        text-align: left;
    }
    .jumbotron img{
         width: 311px;
         margin-top: -30px;
    }
    #carousel{
        min-height: 200px;
        background-color: rgba(0,0,0,0.2);
        padding-top: 20px;
        background: #e4f0de; /* Old browsers */
        background: -moz-linear-gradient(top,  #e4f0de 0%, #b1d6a1 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f0de), color-stop(100%,#b1d6a1)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #e4f0de 0%,#b1d6a1 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #e4f0de 0%,#b1d6a1 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #e4f0de 0%,#b1d6a1 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #e4f0de 0%,#b1d6a1 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f0de', endColorstr='#b1d6a1',GradientType=0 ); /* IE6-9 */
        
    }
    .carousel-inner{
        margin-top: -20px;
    }
    #carousel .item{
        min-height: 200px;
    }
    #carousel h1, #carousel h2{
        text-shadow: 0px 2px 3px #79B59C;
    }
    #carousel h2{ font-size: 26px }
    #carousel i{
        margin-right: 10px;
    }
    .carousel-control.left, .carousel-control.right{
        padding-top: 80px;
        background-image: none;
        opacity: 0.8;
    }
    .carousel-control > span{
        font-size: 36px;
        text-shadow: 1px 1px 1px #769269;
    }
}