.splash{
    width: 100%;
}
.splash-ctr{
    margin: 5px;
    border: 5px solid #E4573B;
    background-color: #E4573B;
    border-radius: 12px;
    width: 16%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    max-width: 100px;
}
.splash-ctr > img{
    width: 100%;
}
.splash > p{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    color: #195249;
    padding: 0;
}
.splash .first-line{
    font-family: 'Euphoria Script', cursive;
    font-size: 22px;
}
.splash > p:last-child{ 
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-style: italic; 
    margin: 0;
}
.splash > .intro{
    width: 69%;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 5px 5px;
    max-width: 200px;
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
#bridgeItLink{
    -webkit-border-image: none;
    -moz-border-image: none;
    right: -5px;
    top: 12px;
}
.icesoft-emblem {
    right: 12px;
    display: inline-block;
    width: 18px;
    top: 3px;
    position: absolute;
}
.row .icesoft-emblem{
    position: static;
    margin-right: 3px;
    margin-left: 7px;
    margin-top: 5px;
    vertical-align: top;
}
.footer {
    position: absolute;
    width: 100%;
    height: 25px;
    display: block;
    z-index: 999;
    left: 0;
    text-align: center;
    color: #3475A8;
    background-color: #DDD;
    font-weight: bold;
    line-height: 25px;
    padding: 0px 20px;
    font-size: 11px;
    border-top: 1px solid #BACBD8;
    box-sizing: border-box;
}
#menu i, #about .row i{
    margin-right: 8px;
    color: #217265;
    width: 20px;
    display: inline-block;
    text-align: center;
}
#about .row{
    min-height: 30px;
}
#flexible{
    text-align: center;
    border-radius: 20px;
    border: 20px solid #217265;
    box-sizing: border-box;
    margin: 10px auto;
    max-width: 400px;
}
#flexible img{
    width: 100%;
    max-width: 400px;
}
.platforms{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 20px;
    color: #217265;
}
.bb-logo{
    width: 22px;
    margin-top: 2px;
    vertical-align: bottom;
    margin-left: -3px;
}
#about .platforms{
    top: 9px;
}
@media screen and (max-width: 400px) {  
    .platforms{
        position: static;
        text-align: center;
        width: 100%;
        margin: -5px 5px -8px 5px
    }
    #about fieldset{
        margin-top: 10px;
    }
}
.platforms i{
    margin: 3px;
}
h3{
    color: #217265;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 8px;
}
#about ul{
    margin-top: 5px;
    padding-right: 10px;
}

h3 span{
    max-width: 80%;
    margin-top: 4px;
    vertical-align: middle;
    min-height: 40px;
    padding-bottom: 5px;
    display: inline-block;
}
.soon{
    opacity: 0.35;
}

/* docs */
#docs dd{
    -webkit-margin-start: 0;
}
#docs .panel code {
    padding: 5px 2px;
}
#docs dl{
    margin: 0;
}
#docs h5{
    margin: 5px;
}
#docs{
    font-size: 12px;
}
#docs section{
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
}
#docs .page-title, #docs .type-signature, #docs nav{
    display: none;
}

#docs .details{
    max-width: 100%;
    overflow-x: auto;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
#docs .description{
    margin-left: 0;
}
section > article > pre > code {
  max-width: 100%;
  overflow-x: auto;
}
.prettyprint code{
    font-size: 80%;
}
.highlightPlaceholder::-webkit-input-placeholder, .highlightPlaceholder:-moz-placeholder, 
.highlightPlaceholder::-moz-placeholder, .highlightPlaceholder:-ms-input-placeholder{
   color: red;
}

span.ellipsis{
    max-width: 100%; 
    overflow: hidden;
    padding: 10px;
    text-overflow:ellipsis; 
    white-space:nowrap
 }
}