---
---
<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>BridgeIt: Web...meet Native</title>
        {% include head.html %}
    </head>

    <body>
        <div id="wrap">
            {% include navbar.html category="bridgeit" %}
            {% include carousel.html %}
            <div class="main">
                {% include features.html %}
                {% include demos.html %}
                {% include downloads.html %}
                <div id="needhelp" class="container section">
                    <h2>Need Help?</h2>
                    <p>
                        The <a href="help.html#gettingstarted">Getting Started</a> tutorial will guide you step by step. 
                    </p>
                </div>
            </div>
         </div>
        {% include footer.html %}
        {% include js.html %}

    </body>
</html>