---
desc: BridgeIt provides native mobile integration and is easy to use. Consider BridgeIt to access native features of all your HTML5 applications. Discover the all BridgeIt Features in the BridgeIt Demo and discover how easy it is to add access to native features to all your HTML5 apps.
keywords: HTML5 access native features, bridgeit.js, native mobile integration, bridgeit features, bridgeit demos, bridgeit downloads
---
<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>BridgeIt Features, Demo, and Downloads - bridgeit.js</title>
        {% include head.html %}
    </head>

    <body>
        <div id="wrap">
            {% include navbar.html category="bridgeit" %}
            {% include carousel.html %}
            <div class="main">
                {% include features.html %}
                {% include demos.html %}
                {% include downloads.html %}
                {% include services.html %}
                {% include need-help.html %}
            </div>
         </div>
        {% include footer.html %}
        {% include js.html %}

    </body>
</html>