---
desc: Welcome to the BridgeIt Community and the BridgeIt Forum. Connect with BridgeIt Twitter and BridgeIt Facebook and find out about new Bridgeit services. Access all the BridgeIt documentation and Bridgeit Tutorials on GitHub. 
keywords: bridgeit community, bridgeit forums, bridgeit facebook, bridgeit github, bridgeit twitter, bridgeIt services
---
<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>Welcome to the BridgeIt Community – Get Started with BridgeIt, Documentation, Tutorials, and API Docs</title>
        {% include head.html %}
    </head>

    <body>
        <div id="wrap">
            {% include navbar.html category="community" %}
            {% include carousel.html %}
            <div class="main">
                {% include community-items.html %}
            </div>
         </div>
        {% include footer.html %}
        {% include js.html %}

    </body>
</html>