---
desc: BridgeIt can be easily branded and customized by our Support and Services team. They can handle all customizations and can also manage submissions to the various mobile app stores. There are several BridgeIt Pricing options to choose from.
keywords: BridgeIt Pricing, BridgeIt Customization Services
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BridgeIt Customization Services - BridgeIt Pricing</title>
        {% include head.html %}
        <script type="text/javascript">
            $(function () {
                $("[data-toggle='tooltip']").tooltip();
            });
        </script>
    </head>

    <body>
        <div id="wrap">
            {% include navbar.html %}
            {% include carousel.html %}
            <div class="main">
                {% include pricing.html %}
            </div>
        </div>
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>