---
desc: Getting Started with BridgeIt is easy.  Include the BridgeIt JavaScript in your HTML5 pages.  Attach a BridgeIt JavaScript call to some action element, and provide a callback to handle returned values from BridgeIt.
keywords: getting started bridgeit, get started bridge it, bridgeit tutorials, bridgeit docs, bridgeIt documentation,  bridgeit api, bridgeit javascript
---
<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>BridgeIt Help – Get Started, Documentation, API Doc, or Contact Us</title>
        {% include head.html %}
    </head>

    <body>
        <div id="wrap">
            {% include navbar.html category="help" %}
            {% include carousel.html %}
            <div class="main">
                {% include getting-started.html %}
                {% include api-docs.html %}
                {% include contact-us.html %}
            </div>
         </div>
        {% include footer.html %}
        {% include js.html %}

    </body>
</html>