---
desc: BridgeIt provides a simple JavaScript API for HTML5 camera access. Add HTML5 camera access to any mobile web application. BridgeIt provides access to other native device capabilities including; video, contacts, microphone, scanner, geolocation, and SMS.
keywords: html5 camera access
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HTML5 Camera Access with BridgeIt</title>
        {% include head.html %}
    </head>

    <body>
        <div id="wrap">
            {% include navbar.html %}
            {% include carousel.html %}
            <div class="main">
                <div id="html5CameraAccess" class="container section items">
                    <h2 style="margin-top:20px;">HTML5 Camera Access with BridgeIt</h2>
                    <p>BridgeIt is the easiest way to add hybrid HTML5 camera access to any mobile web app. A simple JavaScript API provides easy HTML5 camera access so you can quickly develop cross-platform mobile apps with web-based access to the native device camera.</p>
                    <br/>
                    <div class="video-container">
                        <iframe src="//www.youtube.com/embed/gE9SB-v7n9Q?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <a class="more" href="http://bridgeit.mobi/index.html" style="margin-top:20px;">Find out more about BridgeIt »</a>
                    <a class="more" href="http://bridgeit.mobi/bridgeit.html#demos" style="margin-top:0;">More BridgeIt Demos »</a>
                    <br/><br><br/><br/>
                    <div class="row top-divider" style="padding:30px 15px 30px 15px;">
                        <h2>Video Transcript - HTML 5 Camera Access</h2>
                        <p>BridgeIt enables developers to add HTML5 camera access to web applications. Using my android device I am going to use the HTML 5 camera access to take a picture of an awesome dinosaur my son made for me.  We are now in the BridgeIt demo web application.  From the web application I am going to press the “take a photo” button.</p>
                        <p>The HTML5 camera access integration with the native device goes directly to the camera on my android phone. Here we see the dinosaur that I want to share with the rest of the world. I am going to take the picture.  Select the check mark to say I’d like that picture. And then we see BridgeIt integrating with the web application. The web application now shows us a thumbnail with the picture we have taken and if we press a button we can see the full version of the picture in the web page. We highly recommend you return to this BridgeIt demo with your own mobile device and experience some of the other native features for yourself. BridgeIt, available on Android, IOS and Windows 8 phone.</p>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>