---
desc: BridgeIt is the easiest way for you to add powerful native mobile features to your HTML5 applications using the simple BridgeIt JavaScript API. Add rich native mobile features to all your HTML5 applications fast.
keywords: native mobile features, native mobile web, bridgeit javascript api, meet bridgeit
---
<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>Meet BridgeIt… native mobile features to your HTML5 apps</title>
        {% include head.html %}
    </head>

    <body>
        <div id="wrap">
            {% include navbar.html category="main" %}
            {% include splash.html %}
            {% include carousel.html %}
            <div class="main">
                {% include feature-items.html %}
            </div>
         </div>
        {% include footer.html %}
        {% include js.html %}

    </body>
</html>