---
desc: BridgeIt is an open source framework to create hybrid html5 mobile apps. Hybrid mobile development is simple with BridgeIt. Access hybrid native features and start developing cross-platform mobile apps today. BridgeIt - Hybrid mobile app development made easy
keywords: hybrid mobile development, hybrid HTML5 app, cross-platform mobile, hybrid mobile app, hybrid native features, bridgeit, native device features

---
<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>BridgeIt: Hybrid mobile app development made easy</title>
        {% include head.html %}
    </head>

    <body>
        <div id="wrap">
            {% include navbar.html category="main" %}
            {% include splash.html %}
            {% include carousel.html %}
            <div class="main">
                {% include feature-items.html %}
            </div>
         </div>
        {% include footer.html %}
        {% include js.html %}

    </body>
</html>