<div class="container section items" id="icesoft">
    <div class="row">
        <div class="col-xs-7 item-txt-left">
            <h2>About ICEsoft:<br/>Mobile Web Application Development</h2>
            <p>
                ICEsoft Technologies Inc. is the proud sponsor of BridgeIt, an open source mobile technology that simplifies mobile web application development. BridgeIt is the easiest way for you to add powerful native capabilities to your HTML5 applications. ICEsoft is also the proud sponsors of other open source mobile projects: ICEmobile, ICEfaces, and ICEpdf. We are pleased to welcome BridgeIt to our open source mobile portfolio.
            </p>
            <a class="more" href="{{ site.icesoft_url }}" target="_blank">More about ICEsoft open source mobile technologies...&nbsp;&raquo;</a>
        </div>
        <div class="col-xs-5">
            <a href="{{ site.icesoft_url }}" target="_blank">
                <img alt="ICEsoft Technologies" src="images/icesoft-mobile-web-application-development.png" class="img-responsive" style="margin-top: 10px"/>
            </a>
        </div>
    </div>
</div>
<div class="container section items top-divider" id="license">
    <div class="row">
        <div class="col-xs-5">
            <a href="{{ site.os_license_url }}">
                <img alt="BridgeIt is Open Source" src="images/open-source-mobile.png" class="img-responsive item-btn"/>
            </a>
        </div>
        <div class="col-xs-7 item-txt-right">
            <h2>Open Source Mobile Licenses</h2>
            <p>
                The bridgeit.js code is free and licensed under the Apache 2 Open Source license. The BridgeIt Utility Apps are also free and licensed under the BridgeIt Utility App License. Mobile web application development is free and easy! Follow the links below for more info.
            </p>
            <a class="more" href="{{ site.os_license_url }}" target="_blank">bridgeit.js Open Source License...&nbsp;&raquo;</a>
            <a class="more" href="bridgeit-license-1.0.html" target="_blank" style="margin-top:0">Bridgeit Utility App License...&nbsp;&raquo;</a>
        </div>
    </div>
</div>
<div class="container section items top-divider" id="privacy">
    <div class="row">
        <div class="col-xs-7 item-txt-left">
            <h2>Privacy</h2>
            <p>
                Your privacy is very important to us. We don’t ask for personal information unless it's needed to provide a service. We don’t share your personal information with anyone. We don’t store personal information on our servers unless required for the on-going operation of one of our services.
            </p>
            <a class="more" href="privacy.html">BridgeIt Privacy Policy...&nbsp;&raquo;</a>
        </div>
        <div class="col-xs-5">
            <a href="privacy.html">
                <img alt="BridgeIt Privacy Policy" src="images/icesoft-privacy.png" class="img-responsive item-btn"/></a>
        </div>
    </div>
</div>
<div class="container section items top-divider" id="aboutFooter" style="text-align:center;">
    <h2>BridgeIt - Mobile Web Application Development Made Easy! </h2>
</div>
