           <div class="container items">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>About ICEsoft</h2>
                        <p>
                            ICEsoft Technologies Inc. is the proud sponsor of BridgeIt, the easiest way for you to add powerful native capabilities to your HTML5 applications. ICEsoft is also the proud sponsors of these open source projects ICEmobile, ICEfaces, and ICEpdf.  We are pleased to welcome BridgeIt to the our open source family.
                        </p>
                        <a class="more" href="http://www.icesoft.org">Find out more about ICEsoft...&nbsp;&raquo;</a>
                    </div>
                    <div class="col-xs-6 visible-xs">
                        <img src="images/icesoft.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 hidden-xs" style="text-align: right">
                        <img src="images/icesoft.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 visible-xs">
                        <img src="images/legal.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 hidden-xs" style="text-align: left">
                        <img src="images/legal.png"/>
                    </div>
                    <div class="col-xs-6">
                        <h2>License</h2>
                        <p>
                            BridgeIt is free. BridgeIt is open. The bridgeit.js code is licensed under the Apache 2 Open Source license. What are you waiting for?    
                        </p>
                        <a class="more" href="http://www.apache.org/licenses/LICENSE-2.0/">bridgeit.js Open Source License...&nbsp;&raquo;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Privacy</h2>
                        <p>
                            Your privacy is very important to us. We don’t ask for personal information unless it's needed to provide a service. We don’t share your personal information with anyone.  We don’t store personal information on our servers unless required for the on-going operation of one of our services.
                        </p>
                        <a class="more" href="http://www.icesoft.org/java/about/privacy-policy.jsf">BridgeIt Privacy Policy...&nbsp;&raquo;</a>
                    </div>
                    <div class="col-xs-6 visible-xs">
                        <img src="images/privacy.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 hidden-xs" style="text-align: right">
                        <img src="images/privacy.png"/>
                    </div>
                </div>
            </div>
