<div class="container section items" id="icesoft">
    <div class="row">
        <div class="col-xs-7 item-txt-left">
            <h2>About ICEsoft</h2>
            <p>
                ICEsoft Technologies Inc. is the proud sponsor of BridgeIt, the easiest way for you to add powerful native capabilities to your HTML5 applications. ICEsoft is also the proud sponsors of these open source projects ICEmobile, ICEfaces, and ICEpdf.  We are pleased to welcome BridgeIt to the our open source family.
            </p>
            <a class="more" href="{{ site.icesoft_url }}">Find out more about ICEsoft...&nbsp;&raquo;</a>
        </div>
        <div class="col-xs-5">
            <a href="{{ site.icesoft_url }}">
                <img alt="ICEsoft Technologies" src="images/icesoft.png" class="img-responsive" style="margin-top: 10px"/>
            </a>
        </div>
    </div>
</div>
<div class="container section items top-divider" id="license">
    <div class="row">
        <div class="col-xs-5">
            <a href="{{ site.os_license_url }}">
                <img alt="BridgeIt is Open Source" src="images/handshake.png" class="img-responsive item-btn"/>
            </a>
        </div>
        <div class="col-xs-7 item-txt-right">
            <h2>License</h2>
            <p>
                BridgeIt is free. BridgeIt is open. The bridgeit.js code is licensed under the Apache 2 Open Source license. What are you waiting for?    
            </p>
            <a class="more" href="{{ site.os_license_url }}">bridgeit.js Open Source License...&nbsp;&raquo;</a>
        </div>
    </div>
</div>
<div class="container section items top-divider" id="privacy">
    <div class="row">
        <div class="col-xs-7 item-txt-left">
            <h2>Privacy</h2>
            <p>
                Your privacy is very important to us. We don’t ask for personal information unless it's needed to provide a service. We don’t share your personal information with anyone.  We don’t store personal information on our servers unless required for the on-going operation of one of our services.
            </p>
            <a class="more" href="privacy.html">BridgeIt Privacy Policy...&nbsp;&raquo;</a>
        </div>
        <div class="col-xs-5">
            <a href="privacy.html">
                <img alt="BridgeIt Privacy Policy" src="images/privacy.png" class="img-responsive item-btn"/></a>
        </div>
    </div>
</div>
