<div id="apidocs" class="container section items top-divider">
    <h2>Docs &amp; Tutorials</h2>
    <ul class="apidocs-fallback">
    	<li>Camera<br/>
    		<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-camera">{{ site.api_docs_url }}html/#!/api/bridgeit-method-camera</a>
    	</li>
    	<li>Camcorder<br/>
    		<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-camcorder">{{ site.api_docs_url }}html/#!/api/bridgeit-method-camcorder</a>
    	</li>
    	<li>Microphone<br/>
    		<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-microphone">{{ site.api_docs_url }}html/#!/api/bridgeit-method-microphone</a>
    	</li>
    	<li>Contacts<br/>
    		<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-fetchContact">{{ site.api_docs_url }}html/#!/api/bridgeit-method-fetchContact</a>
    	</li>
    	<li>Augmented Reality<br/>
    		<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-augmentedReality">{{ site.api_docs_url }}html/#!/api/bridgeit-method-augmentedReality</a>
    	</li>
    	<li>Cloud Push<br/>
    		<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-push">{{ site.api_docs_url }}html/#!/api/bridgeit-method-push</a>
    	</li>
    	<li>Scan<br/>
    		<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-scan">{{ site.api_docs_url }}html/#!/api/bridgeit-method-scan</a>
    	</li>
    	<li>GeoTrack<br/>
    		<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-geoTrack">{{ site.api_docs_url }}html/#!/api/bridgeit-method-geoTrack</a>
    	</li>
    	<li>SMS<br/>
    		<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-sms">{{ site.api_docs_url }}html/#!/api/bridgeit-method-sms</a>
    	</li>
        <li>Speech<br/>
            <a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-speech">{{ site.api_docs_url }}html/#!/api/bridgeit-method-speech</a>
        </li>
        <li>Beacon<br/>
            <a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-beacon">{{ site.api_docs_url }}html/#!/api/bridgeit-method-beacon</a>
        </li>
    </ul>
    <div class="grid hidden-xs">
		<div class="row hdr">
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="features">Features</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Camera</div>
					<i class="fa fa-camera"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Camcorder</div>
					<i class="fa fa-video-camera"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Microphone</div>
					<i class="fa fa-microphone"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Contacts</div>
					<div class="icon-container">
						<i class="contact-at">@</i>
						<i class="fa fa-calendar-o"></i>
					</div>
				</div>
	 		</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Augmented Reality</div>
					<div class="icon-container">
						<i class="augmented-reality-icon"></i>
					</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Cloud Push</div>
					<i class="fa fa-cloud-download"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Scan</div>
					<i class="fa fa-qrcode"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>geoTrack</div>
					<i class="fa fa-location-arrow"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>SMS</div>
					<i class="fa fa-comment"></i>
				</div>
			</div>
            <div class="col-sm-1 col-xs-1">
                <div class="cell">
                    <div>Speech</div>
                    <span class="fa-stack icon-speech">
                        <i class="fa fa-microphone fa-stack-1x"></i>
                        <i class="fa fa-rss fa-stack-1x"></i>
                    </span>
                </div>
            </div>
            <div class="col-sm-1 col-xs-1">
                <div class="cell">
                    <div>Beacon</div>
                    <span class="fa-stack fa-lg icon-beacon">
                        <i class="fa fa-rss fa-stack-1x icon-beacon-signal"></i>
                        <i class="fa fa-circle-thin fa-stack-3x icon-beacon-circle"></i>
                    </span>
                </div>
            </div>
		</div>
		<div class="row ftr">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<div class="tutorials">Tutorials</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Camera-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Camcorder-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Microphone-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
                    <a href="https://github.com/bridgeit/bridgeit.js/wiki/Contact-List-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>

				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Augmented-Reality-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
                    <a href="https://github.com/bridgeit/bridgeit.js/wiki/Cloud-Push-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
                    <a href="https://github.com/bridgeit/bridgeit.js/wiki/Scan-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/GeoTrack-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
                    <a href="https://github.com/bridgeit/bridgeit.js/wiki/SMS-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
				</div>
			</div>
            <div class="col-sm-1 col-xs-1">
                <div class="cell">
                    <a href="https://github.com/bridgeit/bridgeit.js/wiki/Speech-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
                </div>
            </div>
            <div class="col-sm-1 col-xs-1">
                <div class="cell">
                    <a href="https://github.com/bridgeit/bridgeit.js/wiki/Beacons-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
                </div>
            </div>
		</div>
		<div class="row ftr">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<div class="api">Docs</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-camera"><i class="fa fa-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-camcorder"><i class="fa fa-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-microphone"><i class="fa fa-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-fetchContact"><i class="fa fa-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-augmentedReality"><i class="fa fa-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-push"><i class="fa fa-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-scan"><i class="fa fa-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-geoTrack"><i class="fa fa-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-sms"><i class="fa fa-book"></i></a>
				</div>
			</div>
            <div class="col-sm-1 col-xs-1">
                <div class="cell">
                    <a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-speech"><i class="fa fa-book"></i></a>
                </div>
            </div>
            <div class="col-sm-1 col-xs-1">
                <div class="cell">
                    <a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-beacon"><i class="fa fa-book"></i></a>
                </div>
            </div>
		</div>
	</div>
	<div class="grid visible-xs">
		<div class="row odd">
			<div class="col-xs-4">
				<div class="cell">
					<div>Camera</div>
					<i class="fa fa-camera"></i>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Camera-Tutorial">
						<i class="fa fa-file-text"></i>
					</a>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#camera">
						<i class="fa fa-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-4">
				<div class="cell">
					<div>Camcorder</div>
					<i class="fa fa-video-camera"></i>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Camcorder-Tutorial">
						<i class="fa fa-file-text"></i>
					</a>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#camcorder">
						<i class="fa fa-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-4">
				<div class="cell">
					<div>Microphone</div>
					<i class="fa fa-microphone"></i>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Microphone-Tutorial" target="_blank">
						<i class="fa fa-file-text"></i>
					</a>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#microphone">
						<i class="fa fa-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-4">
				<div class="cell">
					<div>Contacts</div>
					<div class="icon-container">
						<i class="contact-at">@</i>
						<i class="fa fa-calendar-o"></i>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
                    <a href="https://github.com/bridgeit/bridgeit.js/wiki/Contact-List-Tutorial" target="_blank">
                        <i class="fa fa-file-text"></i>
                    </a>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#fetchContact">
						<i class="fa fa-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-4">
				<div class="cell">
					<div>Augmented Reality</div>
					<div class="icon-container">
						<i class="augmented-reality-icon"></i>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Augmented-Reality-Tutorial">
						<i class="fa fa-file-text"></i>
					</a>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#augmentedReality">
						<i class="fa fa-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-4">
				<div class="cell">
					<div>Cloud Push</div>
					<i class="fa fa-cloud-download"></i>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#push">
						<i class="fa fa-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-4">
				<div class="cell">
					<div>Scan</div>
					<i class="fa fa-qrcode"></i>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
                    <a href="https://github.com/bridgeit/bridgeit.js/wiki/Scan-Tutorial">
                        <i class="fa fa-file-text"></i>
                    </a>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#scan">
						<i class="fa fa-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-4">
				<div class="cell">
					<div>geoTrack</div>
					<i class="fa fa-location-arrow"></i>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/GeoTrack-Tutorial">
						<i class="fa fa-file-text"></i>
					</a>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#geoTrack">
						<i class="fa fa-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-4">
				<div class="cell">
					<div>SMS</div>
					<i class="fa fa-comment"></i>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
                    <a href="https://github.com/bridgeit/bridgeit.js/wiki/SMS-Tutorial">
                        <i class="fa fa-file-text"></i>
                    </a>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#sms">
						<i class="fa fa-book"></i>
					</a>
				</div>
			</div>
		</div>
        <div class="row odd">
            <div class="col-xs-4">
                <div class="cell">
                    <div>Speech</div>
                    <span class="fa-stack icon-speech">
                        <i class="fa fa-microphone fa-stack-1x"></i>
                        <i class="fa fa-rss fa-stack-1x"></i>
                    </span>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="cell">
                    <a href="https://github.com/bridgeit/bridgeit.js/wiki/Speech-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="cell">
                    <a href="{{ site.api_docs_url }}#speech">
                        <i class="fa fa-book"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row odd">
            <div class="col-xs-4">
                <div class="cell">
                    <div>Beacon</div>
                    <span class="fa-stack fa-lg icon-beacon">
                        <i class="fa fa-rss fa-stack-1x icon-beacon-signal"></i>
                        <i class="fa fa-circle-thin fa-stack-3x icon-beacon-circle"></i>
                    </span>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="cell">
                    <a href="https://github.com/bridgeit/bridgeit.js/wiki/Beacons-Tutorial" target="_blank"><i class="fa fa-file-text"></i></a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="cell">
                    <a href="{{ site.api_docs_url }}#beacons">
                        <i class="fa fa-book"></i>
                    </a>
                </div>
            </div>
        </div>
		<div class="row hdr">
			<div class="col-xs-4">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-4">
				<div class="cell">
				</div>
			</div>
		</div>
	</div>
</div>
