<div id="apidocs" class="container section items top-divider">
    <h2>API Docs</h2>
    <div class="grid grid9 hidden-xs">
		<div class="row hdr">
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Camera</div>
					<i class="icon-camera"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Video</div>
					<i class="icon-facetime-video"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Microphone</div>
					<i class="icon-microphone"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Contacts</div>
					<div class="icon-container">
						<i class="contact-at">@</i>
						<i class="icon-calendar-empty"></i>
					</div>
				</div>
	 		</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Augmented Reality</div>
					<div class="icon-container">
						<i class="icon-picture"></i>
						<i class="icon-mobile-phone aug"></i>
					</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Cloud Push</div>
					<i class="icon-cloud-download"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Scan</div>
					<i class="icon-qrcode"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>geoTrack</div>
					<i class="icon-location-arrow"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>SMS</div>
					<i class="icon-comment"></i>
				</div>
			</div>
		</div>
		<div class="row ftr">
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-camera"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-camcorder"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-microphone"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-fetchContact"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-augmentedReality"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-push"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-scan"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-geoTrack"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-sms"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid visible-xs">
		<div class="row odd">
			<div class="col-xs-6">
				<div class="cell">
					<div>Camera</div>
					<i class="icon-camera"></i>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-camera">
						<i class="icon-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-6">
				<div class="cell">
					<div>Video</div>
					<i class="icon-facetime-video"></i>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-camcorder">
						<i class="icon-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-6">
				<div class="cell">
					<div>Microphone</div>
					<i class="icon-microphone"></i>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-microphone">
						<i class="icon-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-6">
				<div class="cell">
					<div>Contacts</div>
					<div class="icon-container">
						<i class="contact-at">@</i>
						<i class="icon-calendar-empty"></i>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-fetchContact">
						<i class="icon-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-6">
				<div class="cell">
					<div>Augmented Reality</div>
					<div class="icon-container">
						<i class="icon-picture"></i>
						<i class="icon-mobile-phone aug"></i>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-augmentedReality">
						<i class="icon-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-6">
				<div class="cell">
					<div>Cloud Push</div>
					<i class="icon-cloud-download"></i>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-push">
						<i class="icon-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-6">
				<div class="cell">
					<div>Scan</div>
					<i class="icon-qrcode"></i>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-scan">
						<i class="icon-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-6">
				<div class="cell">
					<div>geoTrack</div>
					<i class="icon-location-arrow"></i>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-geoTrack">
						<i class="icon-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-6">
				<div class="cell">
					<div>SMS</div>
					<i class="icon-comment"></i>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-sms">
						<i class="icon-book"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row hdr">
			<div class="col-xs-6">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-6">
				<div class="cell">
				</div>
			</div>
		</div>
	</div>
</div>