           <div id="carousel" class="carousel slide">
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div id="camera" class="item active">
                        <div class="carousel-caption">
                            <i class="icon-camera"></i>
                            <div class="feature">
                                <h1>Camera</h1>
                                <h2>Native mobile device camera ...</h2>
                            </div>
                        </div>
                    </div>
                    <div id="video" class="item">
                        <div class="carousel-caption">
                            <i class="icon-facetime-video"></i>
                            <div class="feature">
                                <h1>Camcorder</h1>
                                <h2>Native mobile device video recording...</h2>
                            </div>
                        </div>
                    </div>
                    <div id="scan" class="item">
                        <div class="carousel-caption">
                            <i class="icon-qrcode"></i>
                            <div class="feature">
                                <h1>QR Scan</h1>
                                <h2>Native mobile QR Code scanning...</h2>
                            </div>
                        </div>
                    </div>
                    <div id="microphone" class="item">
                        <div class="carousel-caption">
                            <i class="icon-microphone"></i>
                            <div class="feature">
                                <h1>Microphone</h1>
                                <h2>Native mobile audio recording...</h2>
                            </div>
                        </div>
                    </div>
                    <div id="contacts" class="item">
                        <div class="carousel-caption">
                            <div class="icon-container">
                                <i class="contact-at">@</i>
                                <i class="icon-calendar-empty"></i>
                            </div>
                            <div class="feature">
                                <h1>Contact List</h1>
                                <h2>Access the device contact list...</h2>
                            </div>
                        </div>
                    </div>
                    <div id="geoTrack" class="item">
                        <div class="carousel-caption">
                            <i class="icon-location-arrow"></i>
                            <div class="feature">
                                <h1>geoTrack</h1>
                                <h2>Continual geolocation tracking...</h2>
                            </div>
                        </div>
                    </div>
                    <div id="ar" class="item">
                        <div class="carousel-caption augmented-reality">
                            <span class="augmented-reality-icon">
                                <img src="images/augmented-reality-icon-for-carousel.png"/>
                            </span>
                            <div class="feature">
                                <h1>Augmented Reality</h1>
                                <h2>Launch your users into new worlds...</h2>
                            </div>
                        </div>
                    </div>
                    <div id="sms" class="item">
                        <div class="carousel-caption">
                            <i class="icon-comment"></i>
                            <div class="feature">
                                <h1>SMS</h1>
                                <h2>Send an SMS...</h2>
                            </div>
                        </div>
                    </div>
                    <div id="cloudpush" class="item">
                        <div class="carousel-caption">
                            <i class="icon-cloud-download"></i>
                            <div class="feature">
                                <h1>Cloud Push</h1>
                                <h2>Native mobile device notification...</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel" data-slide="prev">
                    <span class="icon-caret-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel" data-slide="next">
                    <span class="icon-caret-right"></span>
                </a>
            </div>
