           <div id="carousel" class="carousel slide">
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div id="camera" class="item active">
                        <a href="bridgeit.html#features">
                            <div class="carousel-caption">
                                <i class="icon-camera"></i>
                                <div class="feature">
                                    <h1>Camera</h1>
                                    <h2>Add HTML5 camera access to any web app</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="video" class="item">
                        <a href="bridgeit.html#features">
                            <div class="carousel-caption">
                                <i class="icon-facetime-video"></i>
                                <div class="feature">
                                    <h1>Camcorder</h1>
                                    <h2>Web app video camera access</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="scan" class="item">
                        <a href="bridgeit.html#features">
                            <div class="carousel-caption">
                                <i class="icon-qrcode"></i>
                                <div class="feature">
                                    <h1>QR Scan</h1>
                                    <h2>Simple HTML5 QR code scanning</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="microphone" class="item">
                        <a href="bridgeit.html#features">
                            <div class="carousel-caption">
                                <i class="icon-microphone"></i>
                                <div class="feature">
                                    <h1>Microphone</h1>
                                    <h2>Web app mobile audio access</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="contacts" class="item">
                        <a href="bridgeit.html#features">
                            <div class="carousel-caption">
                                <div class="icon-container">
                                    <i class="contact-at">@</i>
                                    <i class="icon-calendar-empty"></i>
                                </div>
                                <div class="feature">
                                    <h1>Contact List</h1>
                                    <h2>HTML5 access to mobile contact list</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="geoTrack" class="item">
                        <a href="bridgeit.html#features">
                            <div class="carousel-caption">
                                <i class="icon-location-arrow"></i>
                                <div class="feature">
                                    <h1>geoTrack</h1>
                                    <h2>Extend web apps with real-time geolocation</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="ar" class="item">
                        <a href="bridgeit.html#features">
                            <div class="carousel-caption augmented-reality">
                                <span class="augmented-reality-icon">
                                    <img alt="Augmented Reality" src="images/augmented-reality-icon-for-carousel.png"/>
                                </span>
                                <div class="feature">
                                    <h1>Augmented Reality</h1>
                                    <h2>Enhance web apps with Mobile Augmented Reality</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="sms" class="item">
                        <a href="bridgeit.html#features">
                            <div class="carousel-caption">
                                <i class="icon-comment"></i>
                                <div class="feature">
                                    <h1>SMS</h1>
                                    <h2>Send an SMS...</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="cloudpush" class="item">
                        <a href="bridgeit.html#features">
                            <div class="carousel-caption">
                                <i class="icon-cloud-download"></i>
                                <div class="feature">
                                    <h1>Cloud-based Push</h1>
                                    <h2>Cross platform notification and mobile push</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel" data-slide="prev">
                    <span class="icon-caret-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel" data-slide="next">
                    <span class="icon-caret-right"></span>
                </a>
            </div>
