           <div class="container items section">
                <div class="row">
                    <div class="col-xs-7 item-txt-left">
                        <h2>BridgeIt Forums</h2>
                        <p>
                            Get the help you need in the BridgeIt forums. Ask questions, and tell us what you're working on.  Are there new BridgeIt features you would like to see?  Tell us in the forums, or create an issue on GitHub.  We are committed to your success. 
                        </p>
                        <a class="more" href="{{ site.forums_url }}">Join Us in the Forums...&nbsp;&raquo;</a>
                    </div>
                    <div class="col-xs-5 visible-xs">
                        <a href="{{ site.forums_url }}">
                            <img alt="BridgeIt Forums" src="images/forums.png" class="img-responsive"/>
                        </a>
                    </div>
                    <div class="col-xs-5 hidden-xs" style="text-align: right">
                        <a href="{{ site.forums_url }}">
                            <img alt="BridgeIt Forums" src="images/forums.png" style="margin-top: 10px" class="img-responsive item-btn"/>
                        </a>
                    </div>
                </div>
                <div class="row top-divider">
                    <div class="col-xs-5 visible-xs">
                        <a href="{{ site.github_url }}" target="_blank">
                            <img alt="BridgeIt on GitHub" src="images/github.png" class="img-responsive"/>
                        </a>
                    </div>
                    <div class="col-xs-5 hidden-xs" style="text-align: left">
                        <a href="{{ site.github_url }}" target="_blank">
                            <img alt="BridgeIt on GitHub" src="images/github.png" class="img-responsive item-btn"/>
                        </a>
                    </div>
                    <div class="col-xs-7 item-txt-right">
                        <h2>GitHub</h2>
                        <p>
                            Let's build software better, together on GitHub. The BridgeIt project includes source, API docs, tutorials, demo code and more, all hosted on GitHub.
                        </p>
                        <a class="more" href="{{ site.github_url }}" target="_blank">See BridgeIt on GitHub...&nbsp;&raquo;</a>
                    </div>
                </div>
               
                <div class="row top-divider">
                    <div class="col-xs-12">
                        <h2>Get Social with BridgeIt</h2>
                    </div>
                    <div class="col-xs-6 community-link">
                        <a href="{{ site.twitter_url }}"  target="_blank"class="text-link">Follow us on Twitter...</a>
                        <a href="{{ site.twitter_url }}" target="_blank">
                            <img alt="BridgeIt on Twitter" src="images/twitter-community.png"/>
                        </a>
                    </div>
                    <div class="col-xs-6 community-link">
                        <a href="{{ site.facebook_url }}" target="_blank" class="text-link">Like Us on Facebook...</a>
                        <a href="{{ site.facebook_url }}" target="_blank">
                            <img alt="BridgeIt on FaceBook" src="images/facebook-community.png"/>
                        </a>
                    </div>
                </div>
            </div>
