           <div class="container items">
                <div class="row">
                    <div class="col-xs-7">
                        <h3>BridgeIt Forums</h3>
                        <p>
                            Get the help you need in the BridgeIt forums. Ask questions, and tell us what your working on.  Are there new BridgeIt features you would like to see?  Tell us in the forums.  We are committed to your success. 
                        </p>
                        <a class="more" href="{{ site.forums_url }}">Join Us in the Forums...&nbsp;>></a>
                    </div>
                    <div class="col-xs-5">
                        <img src="images/bridgeit-btn.png" class="img-responsive"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <img src="images/community.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-7">
                        <h3>Community</h3>
                        <p>
                            The BridgeIt JavaScript API is free to use, and available on GitHub. Get involved with the BridgeIt forum and get the answers you need.  Stay in touch with us on your favourite social network and we'll keep you informed of great new features.   BridgeIt welcomes you with open arms.
                        </p>
                        <a class="more">Join the <em>BridgeIt</em>&nbsp;community&nbsp;>></a>
                    </div>
                </div>
            </div>
