           <div class="container items">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>BridgeIt Forums</h2>
                        <p>
                            Get the help you need in the BridgeIt forums. Ask questions, and tell us what your working on.  Are there new BridgeIt features you would like to see?  Tell us in the forums.  We are committed to your success. 
                        </p>
                        <a class="more" href="{{ site.forums_url }}">Join Us in the Forums...&nbsp;&raquo;</a>
                    </div>
                    <div class="col-xs-6 visible-xs">
                        <img src="images/forums.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 hidden-xs" style="text-align: right">
                        <img src="images/forums.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 visible-xs">
                        <img src="images/github.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 hidden-xs" style="text-align: left">
                        <img src="images/github.png"/>
                    </div>
                    <div class="col-xs-6">
                        <h2>GitHub</h2>
                        <p>
                            Let's build software better, together on GitHub. Powerful collaboration, code review, and code management for the BridgeIt open source and project. API Docs, demos, and wiki documentation also hosted on GitHub.
                        </p>
                        <a class="more">See BridgeIt on GitHub...&nbsp;&raquo;</a>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Get Social with BridgeIt</h2>
                    </div>
                    <div class="col-xs-6 community-link">
                        <a href="#" class="text-link">Follow us on Twitter...</a>
                        <a href="#">
                            <img src="images/twitter-community.png"/>
                        </a>
                    </div>
                    <div class="col-xs-6 community-link">
                        <a href="#" class="text-link">Like Us on Facebook...</a>
                        <a href="#">
                            <img src="images/facebook-community.png"/>
                        </a>
                    </div>
                </div>
            </div>
