<div id="contactus" class="container section items top-divider">
	<div class="hidden-xs">
		<form>
		    <div class="row">
		    	<div class="col-sm-6">
		    		<h2>Contact Us</h2>
		    		<p>
				    	Want to speak with a BridgeIt team member?
				    </p>
				    <div class="row name">
				    	<div class="col-sm-4">
				    		<label for="name">Name:</label>
				    	</div>
				    	<div class="col-sm-8">
				    		<input id="name" name="name" type="text"/>
				    	</div>
				    </div>
				    <div class="row email">
				    	<div class="col-sm-4">
				    		<label for="email">Email:</label>
				    	</div>
				    	<div class="col-sm-8">
				    		<input id="email" name="email" type="email"/>
				    	</div>
				    </div>
		    	</div>
		    	<div class="col-sm-6" style="text-align: right">
		    		<img class="contact-us-btn" src="images/contact-us.png"/>
		    	</div>
		    </div>
		    <div class="row commentfieldset">
		    	<div class="col-sm-2">
		    		<label for="comment">Comment:</label>
		    	</div>
		    	<div class="col-sm-10">
		    		<textarea id="comment" name="comment" rows="10"></textarea>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-sm-12" style="text-align: right">
		    		<button class="submit">Submit</button>
		    	</div>
		    </div>
		</form>
	</div>
	<div class="visible-xs" style="width:100%">
		<div class="row">
	    	<div class="col-xs-6">
	    		<h2>Contact Us</h2>
				<p>
			    	Want to speak with a BridgeIt team member?
			    </p>
	    	</div>
	    	<div class="col-xs-6" style="text-align: right">
	    		<img class="contact-us-btn" src="images/contact-us.png"/>
	    	</div>
		</div>
		<form>
			<input id="name" name="name" type="text" placeholder="Name:"/>
		    <input id="email" name="email" type="email" placeholder="Email:"/>
		    <textarea id="comment" name="comment" rows="10" placeholder="Comment:"></textarea>
		    <div class="row">
		    	<div class="col-xs-12" style="text-align: right">
		    		<button class="submit">Submit</button>
		    	</div>
		    </div>
		</form>
	</div>
</div>