<div id="contactus" class="container section items top-divider">
	<div class="hidden-xs">
		<form id="contactUsForm">
		    <div class="row">
		    	<div class="col-sm-6">
		    		<h2>Contact Us</h2>
		    		<p>
				    	Want to speak with a BridgeIt team member?
				    </p>
				    <div class="row name">
				    	<div class="col-sm-4">
				    		<label for="name">Name:</label>
				    	</div>
				    	<div class="col-sm-8">
				    		<input id="name" name="name" type="text" maxlength="200"/>
				    	</div>
				    </div>
				    <div class="row email">
				    	<div class="col-sm-4">
				    		<label for="email">Email:</label>
				    	</div>
				    	<div class="col-sm-8">
				    		<input id="email" name="email" type="email" maxlength="200"/>
				    	</div>
				    </div>
		    	</div>
		    	<div class="col-sm-6" style="text-align: right">
		    		<img class="contact-us-btn" src="images/contact-us.png" style="margin-top: -10px"/>
		    	</div>
		    </div>
		    <div class="row commentfieldset">
		    	<div class="col-sm-2">
		    		<label for="comment">Comment:</label>
		    	</div>
		    	<div class="col-sm-10">
		    		<textarea id="comment" name="comment" rows="10" maxlength="5000"></textarea>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-sm-12" style="text-align: right">
		    		<button type="button" class="submit">Submit</button>
		    	</div>
		    </div>
		</form>
	</div>
	<div class="visible-xs" style="width:100%">
		<div class="row">
	    	<div class="col-xs-6">
	    		<h2>Contact Us</h2>
				<p>
			    	Want to speak with a BridgeIt team member?
			    </p>
	    	</div>
	    	<div class="col-xs-6" style="text-align: right">
	    		<img class="contact-us-btn" src="images/contact-us.png" style="margin-top: -10px"/>
	    	</div>
		</div>
		<form>
			<input id="name" name="name" type="text" placeholder="Name:" maxlength="200"/>
		    <input id="email" name="email" type="email" placeholder="Email:" maxlength="200"/>
		    <textarea id="comment" name="comment" rows="10" placeholder="Comment:" maxlength="5000"></textarea>
		    <div class="row">
		    	<div class="col-xs-12" style="text-align: right">
		    		<button type="button" class="submit">Submit</button>
		    	</div>
		    </div>
		</form>
		<script type="text/javascript">
		jQuery( ".submit" ).click(function( event ) {
			event.preventDefault();
			var req = jQuery.post( "http://bridgeit.mobi/site/contact/send", $( "#contactUsForm" ).serialize() )
			.done(function() {
			    alert( "Thank you, your comment has been submitted to the overlords." );
			  })
			  .fail(function() {
			  	console.log(req);
			    alert("Sorry, there was an error submitting the form, please try again later.");
			  });

			  function validate(){
			  	var valid = true;
			  	if( document.)
			  }
		});
		</script>
	</div>
</div>