<div id="demos" class="container section items top-divider">
	<div class="row">
	    <div class="col-xs-6">
	        <h2>Mobile Demo</h2>
	        <p>
	            The BridgeIt mobile demo demonstrates the various native integrations available. Have a mobile device? Try it out. Scan the QR Code (right) with your device or go to the demo.
	        </p>
	        <a class="more" href="{{ site.demo_url }}">View the Mobile Demo&nbsp;&raquo;</a>
	    </div>
	    <div class="col-xs-6" style="text-align:right">
	    	<span class="demo-qr-sheen">
	    		<div></div>
		        <a href="{{ site.demo_url }}">
		        	<img src="images/demo-qr.png" style="background-color: #E35B3C;" class="demo-qr"/>
		        </a>
		    </span>
	    </div>
	</div>
</div>