<div id="downloads" class="container section items top-divider">
	<h2>Downloads</h2>
	<p style="font-weight: bold">No downloads required!</p>
	<p>
		You can start using BridgeIt without downloading anything.  The BridgeIt script is hosted at:
		<br/>
		<a href="{{ site.bridgeit_js_url }}" target="_blank">{{ site.bridgeit_js_url }}</a>
	</p>
	<p>
		Simply add it to your page and you are off and running.  The native BridgeIt utility app will be installed automatically when your web application requires it.
	</p>
	<p>
		<h3>Getting the Script</h3>
		<b>Stable Hosted versions:</b><br/>
		<a href="{{ site.version_js_url }}" target="_blank">{{ site.version_js_url }}</a><br/>
		<b>Bleeding edge on GitHub:</b><br/>
		<a href="{{ site.github_js_url }}" target="_blank">{{ site.github_js_url }}</a>	
	</p>
	<p>
		If you've got <a href="//bower.io" target="_blank">Bower</a> installed, simply <code>bower install bridgeit.js</code>.
	</p>
	<p>
		<h3>Getting the Native Apps:</h3>
		<p>The BridgeIt utility app will be installed automatically on the mobile device when needed, or you can install one yourself.</p>
	</p>
	<div class="row app-stores">
		<div class="col-xs-4" style="text-align: left">
			<a href="{{ site.apple_app_url }}" target="_blank">
				<img alt="Get BridgeIt on the Apple App Store" 
					src="images/iphone-store.png" class="img-responsive"/>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="{{ site.android_app_url }}" target="_blank">
	  			<img alt="Get BridgeIt on Google Play"
	       			src="images/google-play.png" class="img-responsive"/>
			</a>
		</div>
		<div class="col-xs-4" style="text-align: right">
			<a href="{{ site.windows_app_url }}" target="_blank">
				<img alt="Get BridgeIt on the Windows app store"
					src="images/windows-store.png" class="img-responsive"/>
			</a>
		</div>
	</div>
</div>