<div id="downloads" class="container section">
	<h2>BridgeIt Downloads</h2>
	<p>No downloads required!</p>
	<p>
		You can start using BridgeIt without downloading anything.  The BridgeIt script is hosted at:
		<ul>
			<li>http://api.bridgeit.mobi/bridgeit/bridgeit.js</li>
		</ul>
	</p>
	<p>
		Simply add it to your page and you are off and running.  The native BridgeIt app will be installed automatically when your application requires it.
	</p>
	<h3>Getting the Script</h3>
	<h4>On GitHub: <a href="https://github.com/bridgeit/bridgeit.js">https://github.com/bridgeit/bridgeit.js</a></h4>
	<h4>Hosted versions:</h4>
	<ul>
		<li></li>
	</ul>
	<h3>Getting the Native Apps</h3>
	<p>
		The BridgeIt native apps will be installed automatically when needed, or you can install one yourself.
	</p>
	<div class="app-stores">
		<a href="http://itunes.apple.com/us/app/icemobile-sx/id485908934?mt=8">
			<img src="images/iphone-store.png"
				style="width: 25%"/>
		</a>
		<a href="https://play.google.com/store/search?q=pub:ICEsoft Technologies">
  			<img alt="Get BridgeIt on Google Play"
       			src="images/google-play.png" 
       			style="width: 25%"/>
		</a>
		<a href="#">
			<img alt="Get BridgeIt on the Windows app store"
				src="images/windows-store.png"
				style="width: 25%"/>
		</a>
	</div>


</div>