<div id="downloads" class="container section items top-divider">
	<h2>Downloads</h2>
	<p style="font-weight: bold">No downloads required!</p>
	<p>
		You can start using BridgeIt without downloading anything.  The BridgeIt script is hosted at:
		<br/>
		<a href="{{ site.bridgeit_js_url }}">{{ site.bridgeit_js_url }}</a>
	</p>
	<p>
		Simply add it to your page and you are off and running.  The native BridgeIt app will be installed automatically when your application requires it.
	</p>
	<p>
		Getting the Script<br/>
		On GitHub: <a href="{{ site.github_js_url }}">{{ site.github_js_url }}</a>
	</p>
	<p>
		Hosted versions:<br/>
		<a href="{{ site.version_js_url }}">{{ site.version_js_url }}</a>
	</p>
	<p>
		Getting the Native Apps:<br/>
		The BridgeIt native apps will be installed automatically when needed, or you can install one yourself.
	</p>
	<div class="row app-stores">
		<div class="col-xs-4" style="text-align: left">
			<a href="{{ site.apple_app_url }}">
				<img src="images/iphone-store.png" class="img-responsive"/>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="{{ site.android_app_url }}">
	  			<img alt="Get BridgeIt on Google Play"
	       			src="images/google-play.png" class="img-responsive"/>
			</a>
		</div>
		<div class="col-xs-4" style="text-align: right">
			<a href="{{ site.windows_app_url }}">
				<img alt="Get BridgeIt on the Windows app store"
					src="images/windows-store.png" class="img-responsive"/>
			</a>
		</div>
	</div>
</div>