           <div class="container items" id="featureitems">
                <div class="row">
                    <div class="col-xs-7 item-txt-left">
                        <h2>Meet BridgeIt...</h2>
                        <p>
                            BridgeIt is the easiest way for you to add powerful native capabilities to your HTML5 applications. A simple <a href="{{ site.api_docs_url }}">JavaScript API</a> gives you to access to native features like the camera, microphone, address book and more…  Check out all of BridgeIt's features. 
                        </p>
                        <a class="more" href="features.html">Learn more about BridgeIt&nbsp;&raquo;</a>
                    </div>
                    <div class="col-xs-5">
                        <a href="bridgeit.html"><img src="images/bridgeit-btn.png" class="img-responsive item-btn"/></a>
                    </div>
                </div>
                <div class="row top-divider">
                    <div class="col-xs-5">
                        <a href="community.html"><img src="images/community.png" class="img-responsive item-btn"/></a>
                    </div>
                    <div class="col-xs-7 item-txt-right">
                        <h2>Community</h2>
                        <p>
                            The BridgeIt JavaScript API is free to use, and available on <a href="{{ site.github_url }}">GitHub</a>. Get involved with the BridgeIt forum and get the answers you need.  Stay in touch with us on your favourite social network and we'll keep you informed of great new features. 
                        </p>
                        <a class="more" href="community.html">Join the BridgeIt&nbsp;community&nbsp;&raquo;</a>
                    </div>
                </div>
                <div class="row top-divider">
                    <div class="col-xs-7 item-txt-left">
                        <h2>Need Help?</h2>
                        <p>
                            BridgeIt is as easy as it gets. Simply add <a href="{{ site.bridgeit_js_url }}">bridgeit.js</a> to your HTML5 page and you are off and running. Add native capabilities to your HTML5 application in less than 5 minutes. Need more help? Check out the API documentation, and the The BridgeIt team is eager to help.
                        </p>
                        <a class="more" href="help.html">Get started with BridgeIt...&nbsp;&raquo;</a>
                    </div>
                    <div class="col-xs-5">
                        <a href="help.html"><img src="images/help.png" class="img-responsive item-btn"/></a>
                    </div>
                </div>
                <div class="row top-divider">
                    <div class="col-xs-5">
                        <a href="about.html"><img src="images/about.png" class="img-responsive item-btn"/></a>
                    </div>
                    <div class="col-xs-7 item-txt-right">
                        <h2>About us</h2>
                        <p>
                            We are committed to delivering open source, high-value, and easy to use capabilities to HTML5 developers that enable you to transcend the normal boundaries of mobile web application development. Consider BridgeIt a faithful and versatile companion to all your HTML5 applications.
                        </p>
                        <a class="more" href="about.html">Find out more about us...&nbsp;&raquo;</a>
                    </div>
                </div>
            </div>
