           <div class="container items">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-xs-6 col-sm-6">
                        <h3>Meet BridgeIt...</h3>
                        <p>
                            BridgeIt is the easiest way for you to add powerful native capabilities to your HTML5 applications. A simple JavaScript API gives you to access to native features like the camera, microphone, address book and more… BridgeIt enhances any device's mobile browser, delivering native device capabilities, and enabling your applications to exceed the normal limits of HTML5.  Be sure to check out all of BridgeIt's fine features.
                        </p>
                        <a class="more" href="features.html">Learn more about <em>BridgeIt</em>&nbsp;>></a>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <img src="images/bridgeit-btn.png" class="img-responsive"/>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-xs-6 col-sm-4">
                        <img src="images/community.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <h3>Community</h3>
                        <p>
                            BridgeIt fosters a vibrant and open community, and it's completely free to use.  The BridgeIt JavaScript API is open sourced, and available on GitHub.  The BridgeIt native applications are also free, and available on all the major mobile app stores (platform icons with links).  Join the BridgeIt community and get access to forums, blogs, and so much more.  BridgeIt welcomes you with open arms.
                        </p>
                        <a class="more">Join the <em>BridgeIt</em>&nbsp;community&nbsp;>></a>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-xs-6 col-sm-6">
                        <h3>Need Help?</h3>
                        <p>
                            BridgeIt is as easy as it gets. Simply add bridgeit.js to your HTML5 page and you are off and running.  The Getting Started Guide shows you how to add native capabilities to your HTML5 application in less than 5 minutes.  Need more help?  Check out the API documentation, and the BridgeIt demo project on GitHub.  If you still have questions get involved with the BridgeIt forum and get the answers you need.   The BridgeIt team is eager to help. 
                        </p>
                        <a class="more">View <em>BridgeIt</em>&nbsp;Documentation&nbsp;>></a>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <img src="images/help-btn-yellow.png" class="img-responsive"/>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-xs-6 col-sm-4">
                        <img src="images/about.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <h3>Abous us</h3>
                        <p>
                            The BridgeIt team is committed to delivering high-value, easy to use capabilities to HTML5 developers that enable you to transcend the normal boundaries of mobile web application development.  We are committed to building and nurturing the BridgeIt ecosystem, and making BridgeIt a faithful and versatile companion to all your HTML5 applications.  Stay in touch with us on your favourite social network and we will let you know as new and exciting features become available.
                        </p>
                        <a class="more">Learn more about <em>BridgeIt</em>&nbsp;>></a>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
