           <div class="container items" id="featureitems">
                <div class="row">
                    <div class="col-xs-7 item-txt-left">
                        <h2>Hybrid Mobile Development</h2>
                        <p>
                            BridgeIt is the easiest way to develop hybrid HTML5 apps for mobile. A simple <a href="{{ site.api_docs_url }}">JavaScript API</a> allows you to quickly develop cross-platform mobile apps with web-based access to hybrid native features like camera, address book, augmented reality and more...Check out all of BridgeIt’s features.
                        </p>
                        <a class="more" href="bridgeit.html">Hybrid mobile development with BridgeIt&nbsp;&raquo;</a>
                    </div>
                    <div class="col-xs-5">
                        <a href="bridgeit.html">
                            <img alt="BridgeIt Features" src="images/bridgeit-hybrid-mobile-development.png" class="img-responsive item-btn"/>
                        </a>
                    </div>
                </div>

               <div class="row top-divider">
                   <div class="col-xs-5">
                       <!--a href="#"-->
                           <img alt="BridgeIt Community" src="images/cross-platform-mobile-development.png" class="img-responsive item-btn"/>
                       <!--/a-->
                   </div>
                   <div class="col-xs-7 item-txt-right">
                       <h2>Cross-Platform Mobile Development</h2>
                       <p>
                           <a href="bridgeit.html">BridgeIt</a> allows you to develop a single hybrid mobile app and have it run seamlessly and consistently in cross-platform mobile environments. BridgeIt runs on any web-based application technology including HTML5, .NET, Java EE and a host of others. Its web-centric deployment model combined with the <a href="bridgeit.html#Utility">BridgeIt Utility App</a> provides easy to use web-based access to hybrid native features all while reducing your development and support costs.
                       </p>
                       <!--a class="more" href="#.html">Lean how BridgeIt reduces development and support costs...&raquo;</a-->
                   </div>
               </div>
               <div class="row top-divider">
                   <div class="col-xs-7 item-txt-left">
                       <h2>Quickly Add Hybrid Native Features!</h2>
                       <p>
                           Developing hybrid HTML5 apps has never been easier. Simply add <a href="{{ site.bridgeit_js_url }}">bridgeit.js</a> to your HTML5 page and you will be adding hybrid native features to your mobile web apps in 5 minutes or less! Need more help? Check out the <a href="{{ site.api_docs_url }}" target="_blank">API documentation</a>, visit the <a href="{{ site.forums_url }}">Forums</a> or check out our videos and tutorials. The BridgeIt team is here and eager to assist.
                       </p>
                       <a class="more" href="help.html">Get started with BridgeIt...&nbsp;&raquo;</a>
                   </div>
                   <div class="col-xs-5">
                       <a href="help.html">
                           <img alt="Hybrid Native Features" src="images/hybrid-native-features.png" class="img-responsive item-btn"/>
                       </a>
                   </div>
               </div>
                <div class="row top-divider">
                    <div class="col-xs-5">
                        <a href="community.html">
                            <img alt="BridgeIt Community" src="images/bridgeIt-hybrid-html5-apps-community.png" class="img-responsive item-btn"/>
                        </a>
                    </div>
                    <div class="col-xs-7 item-txt-right">
                        <h2>Community</h2>
                        <p>
                            The BridgeIt JavaScript API is open-source and free to use on <a href="{{ site.github_url }}" target="_blank">GitHub</a>. Get the answers you need on the <a href="{{ site.forums_url }}">BridgeIt Forum</a> and stay in touch with us on your favourite social network and we will keep you informed of great new features.  Get started developing a hybrid mobile app today!
                        </p>
                        <a class="more" href="community.html">Explore the BridgeIt&nbsp;community&nbsp;&raquo;</a>
                    </div>
                </div>
            </div>
