<div id="features" class="container section">
	<h2>BridgeIt Features</h2>
	<p>
		BridgeIt enables any web application to access a wide range of mobile device capabilities using a simple <a href="{{ site.api_docs_url }}" target="_blank">JavaScript API</a>.  BridgeIt is supported on the most popular mobile platforms, offering the features illustrated in the table below.
	</p>
	<img alt="BridgeIt Features by Platform" class="features-fallback" src="images/features.png"/>
	
	<div class="grid grid10 hidden-xs">
		<div class="row hdr">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<div class="features">Features</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Camera</div>
					<i class="icon-camera"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Camcorder</div>
					<i class="icon-facetime-video"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Microphone</div>
					<i class="icon-microphone"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Contacts</div>
					<div class="icon-container">
						<i class="contact-at">@</i>
						<i class="icon-calendar-empty"></i>
					</div>
				</div>
	 		</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Augmented Reality</div>
					<div class="augmented-reality-icon">
					</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Cloud Push</div>
					<i class="icon-cloud-download"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Scan</div>
					<i class="icon-qrcode"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>GeoTrack</div>
					<i class="icon-location-arrow"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>SMS</div>
					<i class="icon-comment"></i>
				</div>
			</div>
		</div>
		<div class="row platform odd">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<i class="icon-apple"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
		</div>
		<div class="row platform even">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<i class="icon-android"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
		</div>
		<div class="row platform odd">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<i class="icon-windows"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
		</div>
		<div class="row ftr">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<div class="tutorials">Tutorials</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Camera-Tutorial" target="_blank"><i class="icon-file-text"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Camcorder-Tutorial" target="_blank"><i class="icon-file-text"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/AugmentedReality-Tutorial" target="_blank"><i class="icon-file-text"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">	
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/GeoTrack-Tutorial" target="_blank"><i class="icon-file-text"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
				</div>
			</div>
		</div>
		<div class="row ftr">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<div class="api">Docs</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-camera" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-camcorder" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-microphone" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-fetchContact" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-augmentedReality" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-push" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-scan" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-geoTrack" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}html/#!/api/bridgeit-method-sms" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid visible-xs">
		<div class="row hdr">
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-apple"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-android"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-windows"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-2">
				<div class="cell">
					<div>Camera</div>
					<i class="icon-camera"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Camera-Tutorial" target="_blank"><i class="icon-file-text"></i></a>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#camera" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-2">
				<div class="cell">
					<div>Camcorder</div>
					<i class="icon-facetime-video"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/Camcorder-Tutorial" target="_blank"><i class="icon-file-text"></i></a>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#camcorder" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-2">
				<div class="cell">
					<div>Microphone</div>
					<i class="icon-microphone"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#microphone" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-2">
				<div class="cell">
					<div>Contacts</div>
					<div class="icon-container">
						<i class="contact-at">@</i>
						<i class="icon-calendar-empty"></i>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#fetchContact" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-2">
				<div class="cell">
					<div>Augmented Reality</div>
					<div class="icon-container">
						<i class="augmented-reality-icon"></i>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/AugmentedReality-Tutorial" target="_blank"><i class="icon-file-text"></i></a>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#augmentedReality" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-2">
				<div class="cell">
					<div>Cloud Push</div>
					<i class="icon-cloud-download"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#push" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-2">
				<div class="cell">
					<div>Scan</div>
					<i class="icon-qrcode"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#scan" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
		<div class="row even">
			<div class="col-xs-2">
				<div class="cell">
					<div>GeoTrack</div>
					<i class="icon-location-arrow"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="https://github.com/bridgeit/bridgeit.js/wiki/GeoTrack-Tutorial" target="_blank"><i class="icon-file-text"></i></a>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#geoTrack" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-2">
				<div class="cell">
					<div>SMS</div>
					<i class="icon-comment"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#sms" target="_blank"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
		<div class="row hdr">
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-apple"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-android"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-windows"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
		</div>
	</div>
	<div class="grid grid10 legend">
		<div class="row">
			<div class="col-xs-4 col-sm-3">
				<div class="yes"></div>
				<span>Supported</span>
			</div>
			<div class="col-xs-4 col-sm-3"> 
				<div class="no"></div>
				<span>Coming Soon<span>
			</div>
		</div>
	</div>
</div>