<div id="features" class="container section">
	<h2>BridgeIt Features</h2>
	<p>
		BridgeIt enables any web application to access a wide range of mobile device capabilities using a simple JavaScript API.  BridgeIt is supported on the World's most popular mobile platforms, offering the features illustrated in the table below.
	</p>
	<img class="features-fallback" src="images/features.png"/>
	
	<div class="grid grid10 hidden-xs">
		<div class="row hdr">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<div class="mobile-os">Mobile OS</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Camera</div>
					<i class="icon-camera"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Camcorder</div>
					<i class="icon-facetime-video"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Microphone</div>
					<i class="icon-microphone"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Contacts</div>
					<div class="icon-container">
						<i class="contact-at">@</i>
						<i class="icon-calendar-empty"></i>
					</div>
				</div>
	 		</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Augmented Reality</div>
					<div class="augmented-reality-icon">
					</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Cloud Push</div>
					<i class="icon-cloud-download"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>Scan</div>
					<i class="icon-qrcode"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>GeoTrack</div>
					<i class="icon-location-arrow"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div>SMS</div>
					<i class="icon-comment"></i>
				</div>
			</div>
		</div>
		<div class="row platform odd">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<i class="icon-apple"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
		</div>
		<div class="row platform even">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<i class="icon-android"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
		</div>
		<div class="row platform odd">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<i class="icon-windows"></i>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
		</div>
		<div class="row ftr">
			<div class="col-sm-1 col-xs-3">
				<div class="cell">
					<div class="api">API Docs</div>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-camera"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-camcorder"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-microphone"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-fetchContact"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-augmentedReality"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-push"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-scan"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-geoTrack"><i class="icon-book"></i></a>
				</div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-sms"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid visible-xs">
		<div class="row hdr">
			<div class="col-xs-4">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-apple"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-android"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-windows"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
		</div>
		<div class="row odd">
			<div class="col-xs-4">
				<div class="cell">
					<div>Camera</div>
					<i class="icon-camera"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-camera"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
			<div class="row even">
			<div class="col-xs-4">
				<div class="cell">
					<div>Camcorder</div>
					<i class="icon-facetime-video"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-camcorder"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
			<div class="row odd">
			<div class="col-xs-4">
				<div class="cell">
					<div>Microphone</div>
					<i class="icon-microphone"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-microphone"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
			<div class="row even">
			<div class="col-xs-4">
				<div class="cell">
					<div>Contacts</div>
					<div class="icon-container">
						<i class="contact-at">@</i>
						<i class="icon-calendar-empty"></i>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-fetchContact"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
			<div class="row odd">
			<div class="col-xs-4">
				<div class="cell">
					<div>Augmented Reality</div>
					<div class="icon-container">
						<i class="icon-picture"></i>
						<i class="icon-mobile-phone aug"></i>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-augmentedReality"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
			<div class="row even">
			<div class="col-xs-4">
				<div class="cell">
					<div>Cloud Push</div>
					<i class="icon-cloud-download"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-push"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
			<div class="row odd">
			<div class="col-xs-4">
				<div class="cell">
					<div>Scan</div>
					<i class="icon-qrcode"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-scan"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
			<div class="row even">
			<div class="col-xs-4">
				<div class="cell">
					<div>GeoTrack</div>
					<i class="icon-location-arrow"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="no"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-geoTrack"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
			<div class="row odd">
			<div class="col-xs-4">
				<div class="cell">
					<div>SMS</div>
					<i class="icon-comment"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<div class="yes"></div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<a href="{{ site.api_docs_url }}#!/api/bridgeit-method-sms"><i class="icon-book"></i></a>
				</div>
			</div>
		</div>
			<div class="row hdr">
			<div class="col-xs-4">
				<div class="cell">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-apple"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-android"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
					<i class="icon-windows"></i>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="cell">
				</div>
			</div>
		</div>
	</div>
</div>