<div id="footer">
    <div class="links">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    
                </div>
                <div class="col-sm-2">
                    <h4>BridgeIt</h4>
                    <div><a href="features.html">Features</a></div>
                    <div><a href="demos.html">Demos</a></div>
                    <div><a href="getting-started.html">Getting Started</a></div>
                    <div><a href="downloads.html">Downloads</a></div>
                </div>
                <div class="col-sm-2">
                    <h4>Community</h4>
                    <div><a href="https://github.com/bridgeit">GitHub</a></div>
                    <div><a href="https://twitter.com/BridgeItApp">Twitter</a></div>
                    <div><a href="#">Facebook</a></div>
                </div>
                <div class="col-sm-2">
                    <h4>Help</h4>
                    <div><a href="{{ site.forums_url }}">Forums</a></div>
                    <div><a href="https://github.com/bridgeit/bridgeit.js/wiki">Docs</a></div>
                    <div><a href="http://www.icesoft.org/java/about/contact-us.jsf">Contact Us</a></div>
                </div>
                <div class="col-sm-2">
                    <h4>About</h4>
                    <div><a href="http://www.icesoft.org/java/about/index.jsf">ICEsoft</a></div>
                    <div><a href="http://www.icesoft.org/java/community/license-faq.jsf">License</a></div>
                    <div><a href="http://www.icesoft.org/java/about/privacy-policy.jsf">Privacy</a></div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <img src="images/icesoft-logo-bw-2x.png" style="width:150px"/>
                </div>
                <div class="col-xs-6 anchors">
                    <a href="http://www.icesoft.org/java/about/index.jsf">About&nbsp;ICEsoft</a>
                    <a href="http://www.icesoft.org/java/community/license-faq.jsf">License</a>
                    <a href="http://www.icesoft.org/java/about/privacy-policy.jsf">Privacy Policy</a>
                    <a href="http://www.icesoft.org/java/about/contact-us.jsf">Contact Us</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    &copy;&nbsp;2013 ICEsoft Technologies Inc. All rights reserved.
                </div>
            </div>
        </div>
    </div> 
</div>