<div id="gettingstarted" class="container section">
	<h2>Getting Started with BridgeIt</h2>
	<p>
		is as easy as 1, 2, 3…
	</p>
	<p>
		1. Include the BridgeIt JavaScript in your page<br/>
{% highlight html %}
<script type="application/x-javascript" src="http://bridgeit.github.io/bridgeit.js/src/bridgeit.js"></script>
{% endhighlight %}
		2. Attach a BridgeIt call to some action element on your page, and provide a callback to handle returned values from BridgeIt.  For instance, a button to retrieve a contact from the address book...<br/>
{% highlight javascript %}
bridgeit.fetchContact('myId', callback);
{% endhighlight %}
		3. Access the page from your mobile browser. If BridgeIt is not already installed, you will be prompted to do so.  Once BridgeIt is installed, your application can access all of BridgeIt''s native features.
	</p>
	<h3>Getting Started Video</h3>
	<p>Adding BridgeIt in less than 5 minutes.  Basically a video of the 3 steps above.</p>
</div>
