---
---
<div id="gettingstarted" class="container section">
	<h2>Getting Started with BridgeIt</h2>
	<p>
		Getting Started with BridgeIt is as easy as 1, 2, 3…
	<p>
	<ol>
		<li>Include the BridgeIt JavaScript in your page
{% highlight html %}
<script type="application/x-javascript" src="http://bridgeit.github.io/bridgeit.js/src/bridgeit.js"></script>
{% endhighlight %}
		</li>
		<li>Attach a BridgeIt call/callback to some action element on your page.  For instance, a button to retrieve a contact from the address book...
{% highlight javascript %}
bridgeit.fetchContact('myId', callback);
{% endhighlight %}
		</li>
		<li>Access the page from your mobile browser. If BridgeIt is not already installed, you will be prompted to do so.  Your application is now BridgeIt enabled.
		</li>
	</ol>
	<h3>Getting Started Video</h3>
	<p>Adding BridgeIt in less than 5 minutes.  Basically a video of the 3 steps above.</p>
	</p>

</div>