            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-list-ul"></span>
                        </button>
                        <a class="navbar-brand" href="index.html" tabindex="0"></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown {% if include.category == 'bridgeit' %}active{% endif %}">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="bridgeit.html" tabindex="1"
                                    onclick="window.location.href='bridgeit.html';">
                                    BridgeIt
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if include.category == "bridgeit" %}
                                    <li>
                                        <a onclick="scrollToSection('features');" tabindex="5">
                                            <i class="icon-th-list"></i>Features
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="scrollToSection('demos');" tabindex="6">
                                            <i class="icon-play-circle"></i>Demos
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="scrollToSection('downloads');" tabindex="7">
                                            <i class="icon-download-alt"></i>Downloads
                                        </a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="bridgeit.html#features" tabindex="5">
                                            <i class="icon-th-list"></i>Features
                                        </a>
                                    </li>
                                    <li>
                                        <a href="bridgeit.html#demos" tabindex="6">
                                            <i class="icon-play-circle"></i>Demos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="bridgeit.html#downloads" tabindex="7">
                                            <i class="icon-download-alt"></i>Downloads
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="dropdown-menu-summary">
                                      The easiest way for you to add powerful native capabilities to your HTML5 applications.
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown {% if include.category == 'community' %}active{% endif %}">
                                <a href="community.html" class="dropdown-toggle" data-toggle="dropdown" tabindex="2"
                                    onclick="window.location.href='community.html';">Community<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ site.forums_url }}" tabindex="8">Forums</a></li>
                                    <li><a href="{{ site.github_url}}" tabindex="9">GitHub</a></li>
                                    <li><a href="{{ site.twitter_url}}" tabindex="10">Twitter</a></li>
                                    <li><a href="{{ site.facebook_url }}" tabindex="11">Facebook</a></li>
                                    <li class="dropdown-menu-summary">
                                      BridgeIt is free to use, and available on GitHub. <br/>Connect with BridgeIt on Twitter and Facebook.
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown {% if include.category == 'help' %}active{% endif %}">
                                <a href="help.html" class="dropdown-toggle" data-toggle="dropdown" tabindex="3"
                                    onclick="window.location.href='help.html';">Help<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% if include.category == 'help' %}
                                    <li><a onclick="scrollToSection('gettingstarted');" tabindex="12">Get Started</a></li>
                                    <li><a href="{{ site.github_url}}bridgeit.js/wiki" tabindex="13">Docs</a></li>
                                    <li><a onclick="scrollToSection('contactus');" tabindex="14">Contact Us</a></li>
                                    {% else %}
                                    <li><a href="help.html#gettingstarted" tabindex="12">Get Started</a></li>
                                    <li><a href="{{ site.github_url}}bridgeit.js/wiki" tabindex="13">Docs</a></li>
                                    <li><a href="help.html#contactus" tabindex="14">Contact Us</a></li>
                                    {% endif %}
                                    <li class="dropdown-menu-summary">
                                      BridgeIt is as easy as it gets. <br/>Simply add bridgeit.js to your web page to get started. 
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown {% if include.category == 'about' %}active{% endif %}">
                                <a href="about.html" class="dropdown-toggle" data-toggle="dropdown" tabindex="4"
                                    onclick="window.location.href='about.html';">About <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% if include.category == 'about' %}
                                    <li><a onclick="scrollToSection('icesoft');" tabindex="14">ICEsoft</a></li>
                                    <li><a onclick="scrollToSection('license');" tabindex="15">License</a></li>
                                    <li><a onclick="scrollToSection('privacy');" tabindex="16">Privacy</a></li>
                                    {% else %}
                                    <li><a href="about.html#icesoft" tabindex="14">ICEsoft</a></li>
                                    <li><a href="about.html#license" tabindex="15">License</a></li>
                                    <li><a href="about.html#privacy" tabindex="16">Privacy</a></li>
                                    {% endif %}
                                    
                                    <li class="dropdown-menu-summary">
                                      BridgeIt is open source, high-value, and easy to use. <br/>Consider BridgeIt for all your HTML5 applications.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            <script type="text/javascript">
            function scrollToSection(section){
                $('html, body').animate({scrollTop: $('#'+section).offset().top, easing: 'easeout'}, 1000); 
                window.location.hash = section;
            }
            </script>