<div id="pricingTable">
    <div class="basic">
        <div class="services header">Basic</div>
        <div class="services even">
            <span class="important">1</span>
            <span data-toggle="tooltip" data-placement="right" title="Total number of supported developers per subscription">Developer</span>
        </div>
        <div class="services odd">
            <span class="important">1</span>
            <span data-toggle="tooltip" data-placement="right" title="Total number of support inquires available per subscription">Support Inquiry</span>
        </div>
        <div class="services even">
            <span class="important">1</span>
            <span data-toggle="tooltip" data-placement="right" title="All Customization Services (Build, App Store, White Labeling, UI) are delivered using the allotment of Consulting Hours">Consulting Hour</span>
        </div>
        <div class="services odd">
            <span class="important">3</span>
            <span data-toggle="tooltip" data-placement="right" title="Guaranteed response times from our support team">Day Response Time</span>
        </div>
        <div class="services even">
            <span data-toggle="tooltip" data-placement="right" title="Email Support">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
        <div class="services odd">
            <span data-toggle="tooltip" data-placement="right" title="Build scripts for custom utility app for app store submission">Build Scripts</span>
        </div>
        <div class="services pricing">Pricing</div>
        <div class="services even last">$500</div>
    </div>
    <div class="standard">
        <div class="services header">Standard</div>
        <div class="services even">
            <span class="important">5</span>
            <span data-toggle="tooltip" data-placement="right" title="Total number of supported developers per subscription">Developers</span>
        </div>
        <div class="services odd">
            <span class="important">5</span>
            <span data-toggle="tooltip" data-placement="right" title="Total number of support inquires available per subscription">Support Inquiries</span>
        </div>
        <div class="services even">
            <span class="important">1</span>
            <span data-toggle="tooltip" data-placement="right" title="All Customization Services (Build, App Store, White Labeling, UI) are delivered using the allotment of Consulting Hours">Consulting Hour</span>
        </div>
        <div class="services odd">
            <span class="important">1</span>
            <span data-toggle="tooltip" data-placement="right" title="Guaranteed response times from our support team">Day Response Time</span>
        </div>
        <div class="services even">
            <span data-toggle="tooltip" data-placement="right" title="Email Support">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
        <div class="services odd">
            <span data-toggle="tooltip" data-placement="right" title="Build scripts for custom utility app for app store submission">Build Scripts</span>
        </div>
        <div class="services even">
            <span data-toggle="tooltip" data-placement="right" title="Source code access to BridgeIt utility app code and access to maintenance releases">Source Code</span>
        </div>
        <div class="services pricing">Pricing</div>
        <div class="services odd">$250/month</div>
        <div class="services even last">$2,500/year</div>
    </div>
    <div class="professional">
        <div class="services header">Professional</div>
        <div class="services even">
            <span class="important">10</span>
            <span data-toggle="tooltip" data-placement="right" title="Total number of supported developers per subscription">Developers</span>
        </div>
        <div class="services odd">
            <span class="important">10</span>
            <span data-toggle="tooltip" data-placement="right" title="Total number of support inquires available per subscription">Support Inquiries</span>
        </div>
        <div class="services even">
            <span class="important">12</span>
            <span data-toggle="tooltip" data-placement="right" title="All Customization Services (Build, App Store, White Labeling, UI) are delivered using the allotment of Consulting Hours">Consulting Hours</span>
        </div>
        <div class="services odd">
            <span class="important">8</span>
            <span data-toggle="tooltip" data-placement="right" title="Guaranteed response times from our support team">Hr Response Time</span>
        </div>
        <div class="services even">
            <span data-toggle="tooltip" data-placement="right" title="Email & Phone Support">
                <i class="fa fa-envelope"></i>
                <i class="fa fa-phone"></i>
            </span>
        </div>
        <div class="services odd">
            <span data-toggle="tooltip" data-placement="right" title="Build Scripts plus generation of customized utility apps in preparation for app store submissions">Build Services</span>
        </div>
        <div class="services even">
            <span data-toggle="tooltip" data-placement="right" title="Customized branding of BridgeIt utility app (includes changing app icon, splash screen, name, description, etc...)">White Label Services</span>
        </div>
        <div class="services odd">
            <span data-toggle="tooltip" data-placement="right" title="Complete management of app store submissions (Apple, Windows, Google Play)">
                <i class="fa fa-apple"></i>
                <i class="fa fa-android"></i>
                <i class="fa fa-windows"></i>
            </span>
        </div>
        <div class="services even">
            <span data-toggle="tooltip" data-placement="right" title="Source code access to BridgeIt utility app code and access to maintenance releases">Source Code</span>
        </div>
        <div class="services odd">
            <span data-toggle="tooltip" data-placement="right" title="For priority one level bug fixes in the event this is needed">Emergency Builds/Patches</span>
        </div>
        <div class="services even">
            <span data-toggle="tooltip" data-placement="right" title="Access to on-line support portal for up-to-date case management">Case Management</span>
        </div>
        <div class="services pricing">Pricing</div>
        <div class="services odd">$500/month</div>
        <div class="services even last">$5,000/year</div>
    </div>
    <div class="premium">
        <div class="services header">Premium</div>
        <div class="services even">
            <span class="important">25</span>
            <span data-toggle="tooltip" data-placement="right" title="Total number of supported developers per subscription">Developers</span>
        </div>
        <div class="services odd">
            <span class="important">25</span>
            <span data-toggle="tooltip" data-placement="right" title="Total number of support inquires available per subscription">Support Inquiries</span>
        </div>
        <div class="services even">
            <span class="important">24</span>
            <span data-toggle="tooltip" data-placement="right" title="All Customization Services (Build, App Store, White Labeling, UI) are delivered using the allotment of Consulting Hours">Consulting Hours</span>
        </div>
        <div class="services odd">
            <span class="important">4</span>
            <span data-toggle="tooltip" data-placement="right" title="Guaranteed response times from our support team">Hr Response Time</span>
        </div>
        <div class="services even">
            <span data-toggle="tooltip" data-placement="right" title="Email, Phone & Remote Desktop Support">
                <i class="fa fa-envelope"></i>
                <i class="fa fa-phone"></i>
                <i class="fa fa-desktop"></i>
            </span>
        </div>
        <div class="services odd">
            <span data-toggle="tooltip" data-placement="right" title="Build Scripts plus generation of customized utility apps in preparation for app store submissions">Build Services</span>
        </div>
        <div class="services even">
            <span data-toggle="tooltip" data-placement="right" title="Customized branding of BridgeIt utility app (includes changing app icon, splash screen, name, description, etc...)">White Label Services</span>
        </div>
        <div class="services odd">
            <span data-toggle="tooltip" data-placement="right" title="Complete management of app store submissions (Apple, Windows, Google Play)">
                <i class="fa fa-apple"></i>
                <i class="fa fa-android"></i>
                <i class="fa fa-windows"></i>
            </span>
        </div>
        <div class="services even">
            <span data-toggle="tooltip" data-placement="right" title="Customization of the user interface of the utility (includes addition / deletion buttons, features, help screens etc...)">UI Services</span>
        </div>
        <div class="services odd">
            <span data-toggle="tooltip" data-placement="right" title="Source code access to BridgeIt utility app code and access to maintenance releases">Source Code</span>
        </div>
        <div class="services even">
            <span data-toggle="tooltip" data-placement="right" title="For priority one level bug fixes in the event this is needed">Emergency Builds/Patches</span>
        </div>
        <div class="services odd">
            <span data-toggle="tooltip" data-placement="right" title="Access to on-line support portal for up-to-date case management">Case Management</span>
        </div>
        <div class="services pricing">Pricing</div>
        <div class="services even">$1,200/month</div>
        <div class="services odd last">$12,000/year</div>
    </div>
</div>