<div id="customizationServices" class="container section">
    <h2>BridgeIt Customization Services</h2>
    <p>BridgeIt is the easiest way to add powerful native capabilities to your HTML5 applications. You can now make the BridgeIt Utility your own so it is seamlessly integrated with the rest of your mobile web application.  Give it the name you want, add your logo to the app icon, and even customize the user interface if you like.  Best of all ICEsoft can do all of this for you so there is no need for you to have native device application expertise. We can handle all your desired customizations, and we will even manage submissions to the various app stores.  Choose from one of the following BridgeIt Customization Services:</p>
    <br/>
    {% include pricing-table.html %}
    <div class="tooltipExample">
        <h2>Definitions</h2>
        <img src="images/definitions-tooltip.png"/>
    </div>
</div>