            <div class="jumbotron">
                 <div class="container">
                    <div class="row">
                        <div class="col-xs-6 bannerLeft">
                            <h2><span class="bridgeit-font">BridgeIt:</span></h2>
                            <h1>Hybrid mobile app development made easy</h1>
                            <p class="splash-buttons hidden-xs bannerButtons">
                                <a class="btn grey" href="bridgeit.html#features">
                                    Features <i class="icon-th-list"></i>&nbsp;
                                </a><br/>
                                <a class="btn grey" href="bridgeit.html#demos">
                                    Demos <i class="icon-play-circle"></i>&nbsp;
                                </a><br/>
                                <a class="btn btn-warning" href="help.html">
                                    Get Started <i class="icon-arrow-right"></i>&nbsp;
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-6 banner bannerImage">
                            <img alt="BridgeIt Banner" src="images/bridgeit-hybrid-mobile-app.png"/>
                        </div>
                        <div class="col-xs-12 visible-xs">
                            <p class="splash-buttons">
                                <a class="btn grey" href="bridgeit.html#features">
                                    Features <i class="icon-th-list"></i>&nbsp;
                                </a><br/>
                                <a class="btn grey" href="bridgeit.html#demos">
                                    Demos <i class="icon-play-circle"></i>&nbsp;
                                </a><br/>
                                <a class="btn btn-warning" href="help.html">
                                    Get Started <i class="icon-arrow-right"></i>&nbsp;
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>