---
---
<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>BridgeIt: Web...meet Native</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="BridgeIt: Native mobile integration for webapps">
        <meta name="author" content="ICEsoft Technologies">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <script type="application/x-javascript" src="http://bridgeit.github.io/bridgeit.js/src/bridgeit.js"></script>
        <link rel="shortcut icon" href="favicon.png"/>
    
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,600,300,400' rel='stylesheet' type='text/css'><link href="../bootstrap-3.0.0/css/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="../css/desktop.css" rel="stylesheet" media="screen"/>
        <link href="../css/syntax.css" rel="stylesheet" media="screen"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="javascript/html5shiv.js"></script>
          <script src="javascript/respond.min.js"></script>
          <script>
            document.documentElement.setAttribute('class','ie8');
          </script>
        <![endif]-->
        <script type="text/javascript">
            //IE 10 device width hack
            (function() {
                if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
                    var msViewportStyle = document.createElement("style");
                    msViewportStyle.appendChild(
                        document.createTextNode("@-ms-viewport{width:auto!important}")
                    );
                    document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
                }
            })();
        </script>
        <script type="text/javascript" src="../javascript/jquery-1.10.2.js"></script>

        <!-- APP ICONS -->
        <link rel="apple-touch-icon" href="../images/touch-icon-iphone.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="../images/touch-icon-ipad.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="../images/touch-icon-iphone-retina.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="../images/touch-icon-ipad-retina.png"/>

        <script type="text/javascript">
        var appStore = bridgeit.appStoreLink();
        if( appStore ){
            window.location.href = appStore;
        }
        </script>

    </head>

    <body>
        <div id="wrap">
                        <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-list-ul"></span>
                        </button>
                        <a class="navbar-brand" href="index.html" tabindex="0"></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown {% if include.category == 'bridgeit' %}active{% endif %}">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="bridgeit.html" tabindex="1"
                                    onclick="window.location.href='bridgeit.html';">
                                    BridgeIt
                                    
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-summary">
                                      The easiest way for you to add powerful native capabilities to your HTML5 applications.
                                    </li>
                                    {% if include.category == "bridgeit" %}
                                    <li>
                                        <a onclick="scrollToSection('features');" tabindex="5">
                                            <i class="icon-th-list"></i>Features
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="scrollToSection('demos');" tabindex="6">
                                            <i class="icon-play-circle"></i>Demos
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="scrollToSection('downloads');" tabindex="7">
                                            <i class="icon-download-alt"></i>Downloads
                                        </a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="bridgeit.html#features" tabindex="5">
                                            <i class="icon-th-list"></i>Features
                                        </a>
                                    </li>
                                    <li>
                                        <a href="bridgeit.html#demos" tabindex="6">
                                            <i class="icon-play-circle"></i>Demos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="bridgeit.html#downloads" tabindex="7">
                                            <i class="icon-download-alt"></i>Downloads
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <b class="caret"></b>
                            </li>
                            <li class="dropdown {% if include.category == 'community' %}active{% endif %} community-nav">
                                <a href="community.html" class="dropdown-toggle" data-toggle="dropdown" tabindex="2"
                                    onclick="window.location.href='community.html';">Community</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-summary">
                                      BridgeIt is free to use, and available on GitHub. <br/>Connect with BridgeIt on Twitter and Facebook.
                                    </li>
                                    <li>
                                        <a href="{{ site.forums_url }}" tabindex="8">
                                            <i class="icon-comments-alt"></i>Forums
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ site.github_url}}" tabindex="9">
                                            <i class="icon-github"></i>GitHub
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ site.twitter_url}}" tabindex="10">
                                            <i class="icon-twitter-sign"></i>Twitter
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ site.facebook_url }}" tabindex="11">
                                            <i class="icon-facebook-sign"></i>Facebook
                                        </a>
                                    </li>
                                </ul>
                                <b class="caret"></b>
                            </li>
                            <li class="dropdown {% if include.category == 'help' %}active{% endif %}">
                                <a href="help.html" class="dropdown-toggle" data-toggle="dropdown" tabindex="3"
                                    onclick="window.location.href='help.html';">Help</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-summary">
                                      BridgeIt is as easy as it gets. <br/>Simply add bridgeit.js to your web page to get started. 
                                    </li>
                                    {% if include.category == 'help' %}
                                    <li>
                                        <a onclick="scrollToSection('gettingstarted');" tabindex="12">
                                            <i class="icon-arrow-right"></i>Get Started
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ site.github_url}}bridgeit.js/wiki" tabindex="13">
                                            <i class="icon-book"></i>Docs
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="scrollToSection('contactus');" tabindex="14">
                                            <i class="icon-bullhorn"></i>Contact Us
                                        </a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="help.html#gettingstarted" tabindex="12">
                                            <i class="icon-arrow-right"></i>Get Started
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ site.github_url}}bridgeit.js/wiki" tabindex="13">
                                            <i class="icon-book"></i>Docs
                                        </a>
                                    </li>
                                    <li>
                                        <a href="help.html#contactus" tabindex="14">
                                            <i class="icon-bullhorn"></i>Contact Us
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <b class="caret"></b>
                            </li>
                            <li class="dropdown {% if include.category == 'about' %}active{% endif %}">
                                <a href="about.html" class="dropdown-toggle" data-toggle="dropdown" tabindex="4"
                                    onclick="window.location.href='about.html';">About </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-summary">
                                      BridgeIt is open source, high-value, and easy to use. <br/>Consider BridgeIt for all your HTML5 applications.
                                    </li>
                                    {% if include.category == 'about' %}
                                    <li>
                                        <a onclick="scrollToSection('icesoft');" tabindex="14">
                                            <i><img alt="ICEsoft Emblem" src="../images/icesoft-18x18.png" style="width: 17px;margin-top: -10px"/></i>ICEsoft
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="scrollToSection('license');" tabindex="15">
                                            <i><img alt="BridgeIt OS License" src="../images/handshake-icon.png" class="navbar-handshake-icon"/></i>License
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="scrollToSection('privacy');" tabindex="16">
                                            <i class="icon-asterisk"></i>Privacy
                                        </a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="about.html#icesoft" tabindex="14">
                                            <i><img alt="ICEsoft Emblem" src="../images/icesoft-18x18.png" style="width: 17px;margin-top: -10px"/></i>ICEsoft
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about.html#license" tabindex="15">
                                            <i><img alt="BridgeIt OS License" src="../images/handshake-icon.png" class="navbar-handshake-icon"/></i>License
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about.html#privacy" tabindex="16">
                                            <i class="icon-asterisk"></i>Privacy
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <b class="caret"></b>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            <script type="text/javascript">
            function scrollToSection(section){
                $('html, body').animate({scrollTop: $('#'+section).offset().top, easing: 'easeout'}, 1000); 
                window.location.hash = section;
            }
            </script>
            <div class="main">
                
            </div>
         </div>
        <div id="footer">
            <div class="links">
                <div class="container hidden-xs">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <img alt="BridgeIt Logo" src="../images/footer-logo.png" class="footer-logo"/>
                        </div>
                        <div class="col-sm-2">
                            <h4>BridgeIt</h4>
                            <div>
                                <a href="../bridgeit.html#features">
                                    <i class="icon-th-list"></i>Features
                                </a>
                            </div>
                            <div>
                                <a href="../bridgeit.html#demos">
                                    <i class="icon-play-circle"></i>Demos
                                </a>
                            </div>
                            <div>
                                <a href="../bridgeit.html#downloads">
                                    <i class="icon-download-alt"></i>Downloads
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <h4>Community</h4>
                            <div>
                                <a href="{{ site.forums_url }}">
                                    <i class="icon-comments-alt"></i>Forums
                                </a>
                            </div>
                            <div>
                                <a href="{{ site.github_url }}">
                                    <i class="icon-github"></i>GitHub
                                </a>
                            </div>
                            <div>
                                <a href="{{ site.twitter_url }}">
                                    <i class="icon-twitter-sign"></i>Twitter
                                </a>
                            </div>
                            <div>
                                <a href="{{ site.facebook_url }}">
                                    <i class="icon-facebook-sign"></i>Facebook
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <h4>Help</h4>
                            <div>
                                <a href="../help.html#gettingstarted">
                                    <i class="icon-arrow-right"></i>Getting&nbsp;Started
                                </a>
                            </div>
                            <div>
                                <a href="{{ site.github_url }}bridgeit.js/wiki">
                                    <i class="icon-book"></i>Docs
                                </a>
                            </div>
                            <div>
                                <a href="../help.html#contactus">
                                    <i class="icon-bullhorn"></i>Contact Us
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h4>About</h4>
                            <div>
                                <a href="../about.html#icesoft">
                                    <i><img alt="ICEsoft Technologies Logo" src="../images/icesoft-18x18.png" style="width: 12px;margin-bottom: 2px"/></i>ICEsoft
                                </a>
                            </div>
                            <div>
                                <a href="../about.html#license">
                                    <i><img alt="BridgeIt OS License" src="../images/handshake-icon.png" style="width:12px"/></i>License
                                </a>
                            </div>
                            <div>
                                <a href="../about.html#privacy">
                                    <i class="icon-asterisk"></i>Privacy
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="{{ site.icesoft_url }}">
                                <img alt="ICEsoft Technologies" src="../images/icesoft-logo-bw-2x.png" class="icesoft-footer"/>
                            </a>
                            <div>
                                &copy;&nbsp;2013&nbsp;ICEsoft&nbsp;Technologies&nbsp;Inc.&nbsp;All&nbsp;rights&nbsp;reserved.
                            </div>
                        </div>
                        <div class="col-xs-9 anchors hidden-xs">
                            <a href="../about.html#icesoft">About&nbsp;ICEsoft</a>
                            <a href="../about.html#license">License</a>
                            <a href="../about.html#privacy">Privacy Policy</a>
                            <a href="../help.html#contactus">Contact Us</a>
                            <a href="{{ site.github_url }}"><i class="icon-github"></i></a>
                            <a href="{{ site.twitter_url }}"><i class="icon-twitter-sign"></i></a>
                            <a href="{{ site.facebook_url }}"><i class="icon-facebook-sign"></i></a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <script type="text/javascript" src="../javascript/bootstrap.js"></script>

    </body>
</html>